/*CAROUSEL POUR PAGE CLASSE AND CO*/
.carousel {
	margin-bottom: 10px;
	background-color: #FFFFFF;
}
.carousel-caption {
	background-color: rgba(26, 10, 21, 0.700);
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0;
	bottom: 0px;
	left: 0px;
	padding-top: 0;
	padding-bottom: 20px;
}
.carousel-caption h2 {
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 20px;
}
.carousel-caption p {
	font-size: 18px;
	font-weight: normal;
	text-align: left;
}
@media (max-width: 480px) {
	.carousel-caption {
		background-color: rgba(26, 10, 21, 0.700);
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
		margin: 0;
		bottom: 0px;
		left: 0px;
		padding-top: 0;
		padding-bottom: 20px;
	}
	.carousel-caption h2 {
		font-size: 16px;
		font-weight: bold;
		text-align: left;
		margin-bottom: 5px;
		margin-top: 10px;
	}
	.carousel-caption p {
		font-size: 11px;
		font-weight: normal;
		text-align: left;
	}
	.carousel-control {
		display: none;
	}
}
.carousel-indicators {
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 15;
	width: 60%;
	margin-left: -30%;
	padding-left: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
}
.carousel-control {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10%;
	opacity: 0.8;
	filter: alpha(opacity=50);
	font-size: 50px;
	color: #4C1D3D;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
	right: 10%;
	margin-right: -10px;
}
.carousel-control:hover, .carousel-control:focus {
	color: #803068;
	text-decoration: none;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
	background-image: none;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	position: absolute;
	top: 40%;
	margin-top: 0px;
	z-index: 5;
	display: inline-block;
}
@media screen and (min-width: 768px) {
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
		width: 70px;
		height: auto;
		margin-top: -15px;
		font-size: 70px;
		line-height: normal;
	}
	.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
		right: 30%;
		margin-right: -10px;
	}
}
/*CAROUSEL STYLES DES BLOCS DE DROITE*/
.classe-carousel {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
/*PARTAGE*/
/*.bss-share.light
{
	text-align: center;
}*/
/*.bss-share.light .list-inline
{
	padding: 0;
	margin: 10px;
}*/
/*.bss-share.light A
{
	display: block;
	width: 35px;
	height: 35px;
	(*+border-radius: 20px;*)
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	background-color: #00ADEF;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 2;
	text-align: center;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
	text -shadow:0 2px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 0px;
}*/
/*.bss-share.light A:hover
{
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 0px;
	margin-top: 0px;
}*/
/*.bss-share.light A.share-facebook
{
	background-color: #4862A3;
}*/
/*.bss-share.light A.share-twitter
{
	background-color: #55ACEE;
}*/
/*.bss-share.light A.share-google
{
	background-color: #E02F2F;
}*/
/*CONFORME*/
.bss-conformite {
	border: 0px solid #00ADEF;
	padding: 15px 10px 15px 95px;
	background-color: rgba(0, 172, 238, 0.1);
	text-align: left;
	position: relative;
}
.bss-conformite:before {
	display: block;
	position: absolute;
	content: " ";
	border: 0px solid black;
	top: -6px;
	left: 6px;
	width: 80px;
	height: 110px;
	background-image: url(../img/conforme.png);
}
.bss-conformite .titre {
	font-weight: bold;
	color: #00ADEF;
}
.bss-conformite .sous-titre {
	border-top: 1px solid #00ADEF;
	color: #333;
	padding-top: 5px;
	margin-top: 5px;
}
/*BLOC PROMO AVEC FOND*/
.well.prix-appel {
	background-color: #5A2249;
	background: url('http://soutien.editions-bordas.fr/img/numerique.jpg') center top / cover no-repeat;
	margin-bottom: 0px;
	padding: 25px 10px 40px;
}
.well.prix-appel-transparent {
	background-color: transparent;
}
.well.prix-appel .h3 {
	color: #FFFFFF;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 54px;
	text-align: right;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=1 );
	padding: 5px 10px;
	margin-bottom: 30px;
}
.well.prix-appel .h3 .mois {
	font-size: 20px;
}
.well.prix-appel .h3 .partir {
	display: block;
	font-size: 25px;
}
.well.test-lecon {
	background-color: transparent;
	padding: 0;
}
.classe-carousel .btn-abonne {
	font-size: 30px;
}
.classe-carousel .btn-test {
	font-size: 24px;
	padding: 20px 20px;
}
