	* {
	margin: 0;
	padding: 0
}
@font-face {
	font-family: 'ubuntubold';
	src: url('../fonts/ubuntu-b-webfont.eot');
	src: url('../fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-b-webfont.woff') format('woff'), url('../fonts/ubuntu-b-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}





@font-face {
	font-family: 'ubuntubold_italic';
	src: url('../fonts/ubuntu-bi-webfont.eot');
	src: url('../fonts/ubuntu-bi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-bi-webfont.woff') format('woff'), url('../fonts/ubuntu-bi-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntu_condensedregular';
	src: url('../fonts/ubuntu-c-webfont.eot');
	src: url('../fonts/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-c-webfont.woff') format('woff'), url('../fonts/ubuntu-c-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntulight';
	src: url('../fonts/ubuntu-l-webfont.eot');
	src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-l-webfont.woff') format('woff'), url('../fonts/ubuntu-l-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntulight_italic';
	src: url('../fonts/ubuntu-li-webfont.eot');
	src: url('../fonts/ubuntu-li-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-li-webfont.woff') format('woff'), url('../fonts/ubuntu-li-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntumedium';
	src: url('../fonts/ubuntu-m-webfont.eot');
	src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-m-webfont.woff') format('woff'), url('../fonts/ubuntu-m-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntumedium_italic';
	src: url('../fonts/ubuntu-mi-webfont.eot');
	src: url('../fonts/ubuntu-mi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-mi-webfont.woff') format('woff'), url('../fonts/ubuntu-mi-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubunturegular';
	src: url('../fonts/ubuntu-r-webfont.eot');
	src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-r-webfont.woff') format('woff'), url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntuitalic';
	src: url('../fonts/ubuntu-ri-webfont.eot');
	src: url('../fonts/ubuntu-ri-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-ri-webfont.woff') format('woff'), url('../fonts/ubuntu-ri-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Feuille de style liÃ© au plugin Tips de mootools. */
/* Permet de styliser les Ã©tiquettes de survol. */
input#facturation_cp {
width: 100px;
}
div.tip-wrap {
	background: #ffffff;
	text-align: left;
	width: 420px;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 50;
	box-shadow: 1px 1px 12px #555;
}
	div.tip-top {
		border-left: 2px solid #4A5B68;
		border-right: 2px solid #4A5B68;
		border-top: 10px solid #4A5B68;
		background: #ffffff;

	}
	div.tip {
		border: 2px solid #4A5B68;
		border-top: none;
		background: #ffffff;
		padding: 2px;
	}
	div.tip-title {
		color: #4CA0E4;
		font-weight: bold;
		font-size: 13px;
		padding-top: 2px;
		padding-left: 5px;
		padding-right: 5px;
		background: #EDF1F3;
	}
	div.tip-text {
		color: #516574;
		font-weight: normal;
		font-size: 11px;
		padding: 5px;
		padding-top: 5px;
		background: #EDF1F3;
	}
	div.tip-wrap p {
		margin: 0;
		padding: 0;
	}
	div.tip-wrap ul {
		list-style-type: none;
		padding: 0;
		margin: 5px;
	}
	img.help {
		cursor: help;
		margin-left: 5px;
		vertical-align: top;
	}
	
	


#div_personal_information .fieldset ul {
	height: 40px;
}


#div_personal_information .fieldset label {
font-weight: normal;
padding-top: 0;
text-align: right;
width: 45%;
float: left;
line-height: 25px
}

#div_personal_information  select{
	margin-left: 25px;
	height: 35px;
	width: 35%;
}
#div_personal_information  input{
display: block;
width: 35%;
height: 36px;
padding: 6px 12px;
font-size: 18px;
line-height: 36px;
background-color: #FFF;
background-image: none;
border: 1px solid #B3B3B3;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #000;
font-weight: normal;
clear: both;
float: right;
margin-top: -30px;
margin-right: 50px!important;
}


#div_personal_information  select{
display: block;
width: 35% !important;
height: 36px;
padding: 6px 12px;
font-size: 18px;
line-height: 36px;
background-color: #FFF;
background-image: none;
border: 1px solid #B3B3B3;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #000;
font-weight: normal;
clear: both;
float: right;
margin-top: -30px;
margin-right: 50px!important;
}

#cart .slogan{
	font-size: 22px; 
}


#popupnumerocart .center img
{
	display:inline-block
	}	

#form_account_errors_display{

	display: none;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #FFE5E5;
	border: solid #F20000 1px;
	text-align: center;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #F00;
}
#form_account_errors_display td{
	text-align: left;
	background-image: url('/images/warning_icon.png');
	background-repeat: no-repeat;
	padding-left: 35px;
	vertical-align: middle;
	margin: 0px;
}


#ajax-loader{
	height : auto!important;
}
 #global_registration_par_form .submit_button
{
	background-image: url('/images/btn_valider.png');
	width: 95px;
	height: 35px;
	background-repeat: no-repeat;
	border:none
}

#div_personal_information .fieldset h2{
	color: #00AEEF;
	font-size: 22px;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #00AEEF;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0);
	background:none 
}
#div_personal_information .fieldset li{
	list-style: none;
	height: 35px;
}
#div_personal_information .fieldset{
	background: #E4F6FC;
	padding: 15px;
}
#div_personal_information{
	background: #FFF;
	border: 1px solid #00AEEF;
	padding: 10px;
	margin-top: 35px;
	width: 560px;
	margin: 0 auto;
	max-width: 100%;
}

/* HZ LOT 4 */
.body_formule .question-podcast  #div_personal_information p{
	font-weight: bold;
}
.body_formule .question-podcast  #div_personal_information .input-xlarge{
	width: 100%!important;
}

#div_password{
	background: #FFF;
	border: 1px solid #00AEEF;
	padding: 10px;
	width: 560px;
	margin: 0 auto;
	margin-top: 35px;
	max-width: 100%;
}
#div_password .fieldset h2{
	color: #00AEEF;
	font-size: 22px;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #00AEEF;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0);
}
#div_password .fieldset li{
	list-style: none;
	height: 55px;
}
#div_password .fieldset{
	background: #E4F6FC;
	padding: 15px;
}
#div_password .fieldset label {
font-weight: normal;
padding-top: 0;
text-align: right;
width: 45%;
float: left;
line-height: 25px;
}
#div_password input {
display: block;
width: 35%;
height: 36px;
padding: 6px 12px;
font-size: 18px;
line-height: 36px;
background-color: #FFF;
background-image: none;
border: 1px solid #B3B3B3;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #000;
font-weight: normal;
clear: both;
float: right;
margin-top: -30px;
margin-right: 50px!important;
}


input#personal_number {
background: grey;
opacity: 0.2;
}

#div_login .fieldset h2{
	color: #00AEEF;
	font-size: 22px;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #00AEEF;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0);
	background:none
}
#div_login .fieldset li{
	list-style: none;
	height: 45px;
}
#div_login .fieldset{
	background: #E4F6FC;
	padding: 15px;
}
#div_login{
	background: #FFF;
	border: 1px solid #00AEEF;
	padding: 10px;
	margin-top: 35px;
	width: 560px;
	margin: 0 auto;
	margin-top: 35px;
	max-width: 100%;
}

#div_login  label{
font-weight: normal;
padding-top: 0;
text-align: right;
width: 45%;
float: left;
line-height: 25px
}


#div_login  input{
display: block;
width: 35%;
height: 36px;
padding: 6px 12px;
font-size: 18px;
line-height: 36px;
background-color: #FFF;
background-image: none;
border: 1px solid #B3B3B3;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #000;
font-weight: normal;
clear: both;
float: right;
margin-top: -30px;
margin-right: 50px!important;
}

#img-loader{
	display: none; 
}

#div_options_list_form{
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	text-align: center;
}

#global_registration_par_submit{
	color: #FFF;
	background-color: #FF6000;
	width: 100px;
	border-radius: 10px;
	font-family: 'ubuntubold' !important;
	font-size: 20px !important;
	font-weight: normal !important;
	display: inline-block;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0);
	color: #FFF;
}

.submit{
	text-align: center;
}

#global_registration_par_form{
	margin-top : 30px;
}
	


	
	
body {
	background: #fff;
	font-family: 'ubunturegular';
	font-size: 16px;
	min-width:1240px;
	
}
header {
	background: #fff;
	padding-top: 10px;
	position: relative
}

.form-horizontal .form-group{
	margin-left: 0px!important; 
}

.header_left {
	float: left;
}
.addthis_toolbox 
{
	float: left;
	width: 350px
}
.header_right {
	float: right;
	width: 600px
}

a.btn.txt-orange {
color: #ff7e15;
}

#cart a.btn.txt-orange {

text-decoration:underline
}
.changer_formule a{
		text-decoration: underline !important; 
	}
body#cart h2
{
	margin-bottom:0px
	}

body#cart .container{
	padding-left: 0;
	padding-right: 0; 
}
body#cart .block_reassurance .container{
	padding-left: 25px;
	padding-right: 25px; 
}
body#cart .container > p
{
	line-height:28px;
	margin-bottom:40px
	}

.blue_txt
{
	color:#00aeef;
	font-weight:bold;
	font-size:20px
	}
	
.orange_txt
{
	color:#ff7e15;
	font-weight:bold;
	font-size:20px

	}
	
.orange_link
{
	color:#ff7e15;
	text-decoration:underline;
	font-weight:bold
	}
	
.blue_link
{
	color:#00aeef;
	text-decoration:underline;
		font-weight:bold
	
	}
.cb_formulaire_paiement .checkbox label{
	font-size : 16px!important ; 
}

#cart .block_reassurance {
	background: #00aeef;
	border-bottom: 8px solid #0177a4;
	min-height: 167px
}
#cart .block_reassurance ul li {
	list-style: none;
	text-align: center;
	padding: 0;
	padding-top: 20px
}

 #cart .block_reassurance ul li:first-child {
margin-left:-11px
}
#cart .block_reassurance ul li span {
display: block;
color: #fff;
}

#cart .block_reassurance ul li div {
width: 50%;
float: left;
min-height: 160px;
}


.copyright {
background: #1c1f22;
min-height: 54px;
text-align: center;
color: #fff;
}

header, footer
{
	
	width:100%
	}
	
body#cart
{
	
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important;
		font-size:18px
	}

#cart header
	{
		margin-bottom:40px!important;
		
		}
	
/************ steps *******************/
ul#steps
{
	margin-left:0;
	
	}
ul#steps li
{

	display:block;
float:left;
	height:50px;
	position:relative;
	margin-right:27px
	
	}
	
ul#steps li a
{
	display:block;
	height:50px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#fff;
	line-height:50px;
	text-align:center;
	background:#b2b2b2 ;
	padding:0 25px

}
ul#steps li a:hover{ 
	text-decoration: none!important;  
}



ul#steps li a:hover
{
/*	background:#00aeef*/
	}

	
ul#steps li span.arrow_right
{
background: url(../../../images/bg_tab_after.png) no-repeat;
width: 22px;
height: 50px;
display: block;
position: absolute;
top: 0px;
right: -22px;
}
	
	
ul#steps li:hover span.arrow_right
{
	/*background-image: url(../../../images/bg_tab_active_after.png);*/
}
	
ul#steps li span.arrow_left
{
background: url(../../../images/bg_tab_before.png) no-repeat;
width: 22px;
height: 50px;
display: block;
position: absolute;
top: 0px;
left: -20px;
}
ul#steps li:hover
{
		/*background:#00aeef*/
}	
ul#steps li:hover span.arrow_left
{
	/*background-image: url(../../../images/bg_tab_active_before.png);*/

	}
	

	
#cart label
{
	font-weight:normal;
	padding-top: 0;
}
	
.detail_abonnement
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
	font-weight:bold;
	margin-bottom:15px
	}
	
.choix_duree
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#000;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:22px;
	clear:both
	}
	
	
.detail_formule h2, .confirmation h2, .paiement_formule h2
{
	color: #fff;
	background-color: #00aeef;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:22px;
	padding: 13px 15px;
	margin:0
	}
	
.confirmation .body_formule p
{
	margin-bottom:37px
	}
	
.detail_formule .body_formule, .confirmation .body_formule, .paiement_formule .body_formule
{
	padding: 16px 21px;
	border: 3px solid #00aeef;
	}
	


	
.title_pack
{
	font-family:'ubuntubold';
	font-size:24px;
	color:#d0d0ff;
	padding:15px 0;
	text-align:center
}
	
.color_cible{
	color: #6a6ae4;
}
.color_reussite{
	color: #13BEC4;
}
.color_tribu{
	color: #85bb03;
}
.ciblee .title_pack 
{
	background:#6a6ae4;
	color: #D0D0FF;
}
.reussite .title_pack 
{
	background:#13BEC4;
	color: #abfcff;
}
.tribu .title_pack 
{
	background:#85bb03;
	color: #e5ffa3;
}
div.body_pack{
    /*LOT6 */ 
	min-height: 405px;
}
.ciblee div.body_pack
{
	border:5px solid #6a6ae4
}
.reussite div.body_pack
{
	border:5px solid #13BEC4
}
.tribu div.body_pack
{
	border:5px solid #85bb03
}


.title_pack span
{

	color:#fff;

	
	}
	
.title_pack span span
{

	font-family:'ubuntulight';
	
	}
	
.body_pack
{
	padding-top:36px;
	padding-bottom:20px
	}
	
.paiement_pack
{
	color:#000;
	font-size:22px;
	font-weight: normal;
		text-align:center

	}
	
	
.paiement_pack span
{
	color:#ff7e15;
	font-size:22px;
	font-weight:normal;

	}
	
.body_pack .btn-orange
{
margin:30px 0;
	}
	
.description_pack
{
	font-size:12px;
	color:#3c3c3c;
	line-height:14px;
	padding:0 10px
	}
	
.description_pack a
{
	text-decoration:underline;
	font-weight:bold
	}

.pack_form
{
	margin:0;
	margin-bottom:22px
	}	

#cart .aide
{
	background:#cef1fd;
	padding-top:22px;
	padding-bottom:12px;
	margin-bottom:40px!important; 
	margin-top:40px!important; 
	padding-left: 15px!important; 
	padding-right: 15px!important; 
	
	}	
	
	
.aide h2
{
	color:#00aeef !important;
	font-size:30px;
	text-align:center;
	font-family:'ubuntubold';
	padding-bottom:30px
	}	
	
#inscription h4, .popupmatieres h4, #motdepasseoublie h4
{
	color:#00aeef;
	font-weight:bold;
	border-bottom:1px solid #00aeef;
	font-size:22px
	} 

.popupmatieres h5
{
	font-weight:bold;
	color:#ff7e15;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	}
	
	
	
.popupmatieres ul li
{
	list-style:none;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000
	}
	
.popupmatieres .control-label{
	text-align: left;
}

#cart .btn-orange
{
	margin-top:0
	}
	#cart .valid_abonnement{
	 margin: auto; 
}
#inscription .modal-body > p
{
	margin-bottom:30px
	}
	
.mot_oublie
{
	color:#00aeef;
	font-size:15px
	}
	
.btn_inscription
{
	color:#00aeef;
	font-weight:bold;
	text-decoration:underline !important;
	cursor:pointer
	}
	
.formulaire_form, .formulaire_form_paiement
{
	width:560px;
margin:0 auto;
	}
	
.formulaire_form_paiement
{
	width:655px;
	}
	
	
.autres_matieres_link
{
	font-size:18px;
	color:#018abd;
	font-style:italic;
	text-decoration:underline !important
	}
	
	
.form_compte_parent, .formulaire_form_paiement .form_compte_parent
{
background:#fff;
border:1px solid #00aeef;
padding:10px;

margin-top:35px	
	}
	
.formulaire_form_paiement .form_compte_parent
{
	border:1px solid #b3b3b3;
	}
	
.compte_parent_content, .formulaire_form_paiement .compte_parent_content
{
	background:#e4f6fc;
	padding:15px
	}
	
.formulaire_form_paiement .form_compte_parent .form_cb
{
	padding:35px
	}
	
.formulaire_form_paiement .compte_parent_content
{
	background:#fff
	}
	
.compte_parent_content label strong
{
	color:#00aeef;
	margin-right:2px
	
	
	}
	
.icon_help_numclient
{
	position:relative;
	left:10px;
	top:-2px
	}
	

	
.obligatoire 
{
font-size:16px
	}
	
	
.obligatoire  strong
{
	color:#00aeef;
	
	
	}
	
	
.spacer
{
	clear:both
	}
	
body#cart h1
{
	margin-bottom:60px
	}
	
.detail_formule h3, .confirmation h3, .paiement_formule h3
{
	color:#00aeef;
	font-size:22px;
	font-weight:bold;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-bottom:1px solid #00aeef;
	padding-bottom:10px
	}
	
#cart .checkbox
{
	padding-left:0
	}
	
/********************************/
.description_formule
{
	margin-top:50px;
	margin-bottom:15px;
	overflow:hidden
	}
	
.description_formule h2
{
	font-size:34px;
	font-family:'ubuntubold';
	
	}
body.ciblee .description_formule h2{
	color:#1f1fb8;
}
body.reussite .description_formule h2{
	color:#2A6496;
}
body.reussite .description_formule h1{
	color:#2A6496;
	font-size: 34px;
	font-family: 'ubuntubold';
	margin-bottom:0 !important;
}

body.tribu .description_formule h2{
	color:#5FA522;
}

.description_formule p
{
	line-height:22px;
	}
body.ciblee .description_formule p{
	color:#1f1fb8;
}
body.reussite .description_formule p{
	color:#2A6496;
}
body.tribu .description_formule p{
	color:#5FA522;
}

.picto_formule
{
	float:left;
	margin-right:25px;
	
	}
.picto_formule img
{
	width: 110px;
	}
	
#numeroclient, .inputgris
{
	background:#e8e8e8 !important;

	}
	
.account_iocn_left
{
	background:url(../../../images/account_icon_left.png) left no-repeat;
	width:30px;
	height:27px
	}
	
.account_iocn_right
{
	background:url(../../../images/account_icon_right.png) right no-repeat;
	width:30px;
	height:27px
	}
	
.account_block_head
{
	float:right;
	min-width:332px;
	margin-bottom:0px;
	position: absolute!important; 
	right: 0;
	bottom:0;
	}
	#connexion_block{
		z-index:  2000; 
		margin-top: -1px;
	}
#account_block_header .btn-orange{
	margin-top: 0px!important; 
}
#account_block_header .form-group {
margin-bottom: 15px;
height: 70px;
}

.account_block_head .dropdown-menu
{

	
	}
			
.account_block_head > a
{
	
	background:#ff7e15 ;
	display:block;
	min-height:35px;
	overflow:hidden;
	color:#fff;
	line-height:32px;
	font-family:'ubuntumedium';
	padding:2px 0;
	width: 202px;
	float: right;
}
#account_block_connected > a{
	
	background:#ff7e15 ;
	display:block;
	min-height:35px;
	overflow:hidden;
	color:#fff;
	line-height:32px;
	font-family:'ubuntumedium';
	padding:2px 0;
	width: auto; 
float: right;
	
	}

	
.account_block_head > a:hover
{
	background:#ff6000 ;
	}
.account_block_head > a span
{
	float:left;
	display:block;
	margin-right:12px;
	padding-left: 35px;
	
}
	
/*.account_block_head > a span:first-child
{

	font-family:'ubunturegular';
	border-right:1px solid #fff;
	padding-right:20px;


	}*/
	
.name_customer
{
		font-family:'ubunturegular';
	border-right:1px solid #fff;
	padding-right:20px;
	}
	
.moncompte_button
{
		/*padding-left:20px;*/
	}
	
.account_block_head  a.connect:hover {
	color: #fff; 
} 
.account_block_head  a.connect{
	color: #fff!important; 
} 
.account_block_head  ul 
{
border:1px solid #ffb453;
background:#fff;
width:333px;
}

#account_block_connected ul {
border: 1px solid #FFB453;
background: #FFF;
width: 245px;
}
	
.account_block_head  ul h2
{
	
font-family:'ubuntubold';
background:#ffb453;
height:35px;
line-height:35px;
padding-left:20px;
font-size:20px;
color:#fff

}

.account_block_head  ul form
{
	padding:20px
}

.account_block_head  ul form input
{
	width:188px;
	height:38px;
	line-height:38px;
	float:left;
	margin-right:12px;


}
.account_block_head ul label
{
	color:#ff7e15;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold !important;
	font-size:16px !important
	
	}
	

	
.account_block_head ul button[type=submit]
{
	font-family:'ubuntumedium';
	font-size:20px;
	text-transform:uppercase;
	float:left;
	margin-bottom:0
	}
	
.mot_passe_oublie_link
{
	font-size:14px;
	text-decoration:underline !important;
	color: #000;
	}
	
.creation_account
{
	padding-left:20px;
	padding-bottom:20px;
	display:block;
	font-size:16px;
	text-decoration:underline !important;
	font-weight:bold; 
	color : #000;


}

.myaccount
{
	z-index: 10000!important;
	margin-top: -1px!important;
	position: absolute!important;
	right: 0!important;
	float: none!important;
	left: auto!important;
}
	
.myaccount > li > a
{
	white-space:normal !important;
	color: #000!important;
	
}
	
.myaccount > li
{
	border-bottom:1px solid #ffb453;
	background:url(../../../images/myaccount_link.png) right no-repeat;
	text-align:right;
		line-height:18px;
		
	}
	
.myaccount > li.deconnexion_btn
{
		background:url(../../../images/myaccount_deconnexion.png) right no-repeat;
		border-bottom:none
	}
	
.myaccount > li a
{
	font-size:16px;
	line-height:30px!important;
	display:block;
	padding: 3px 30px 3px 0px!important;
}
	
.myaccount > li:hover a
{
	background:#ffb453 url(../../../images/myaccount_link.png) right no-repeat !important;
}
	
.myaccount > li.deconnexion_btn:hover a
{
	background:#ffb453 url(../../../images/myaccount_deconnexion.png) right no-repeat!important;
}
	
	
	
	
.warn
{
	width:838px;
	min-height:228px;
	border:1px solid #acacac;
	padding:25px;
	margin:0 auto;
	margin-bottom:90px
	}
	
.center
{
	text-align:center!important;
	margin-bottom:10px;
	}
	
.warn .btn-orange
{
/*	margin-left:292px;*/
	margin-top:45px;
	text-align:center;
	display:inline-block
	}
	
.warn h2, .modif_cb h2
{
	font-family:'ubuntumedium';
	font-size:24px;
	color:#ff6c00;
	border-bottom:1px solid #ff6c00;
	padding-bottom:15px;
	margin-bottom:15px
	}
	
.warn h2, .resiliation h2
{
	font-family:'ubuntumedium';
	font-size:24px;
	color:#ff6c00;
	border-bottom:1px solid #ff6c00;
	padding-bottom:15px;
	margin-bottom:15px
	}
	
.blue_link
{
	color:#00aeef;
	text-decoration:underline !important;
	font-weight:bold;
	
	}
	
.modif_cb, .resiliation
{
	padding:27px;
	border:1px solid #afafaf;
	width:700px;
	margin-top:20px;
	margin-bottom:20px
	
	}
	
.resiliation form
{
	padding-top:50px;
/*	padding-bottom:30px;*/
	padding-left:95px;
	padding-right:95px
	}
	
.resiliation form label
{
	font-weight:bold;
	color:#ff7e15; 
	}
	
.modif_cb form
{
border:1px solid #afafaf;
	}
	

.modif_cb > .btn-orange
{
/*	margin-left:170px;*/
	margin-top:25px !important;
	margin-bottom:25px;
	text-align:center;
	display:inline-block
	}
	
.center .btn-orange
{
	margin-top:25px !important
	}
	
/*.modif_cb > .btn-orange
{
	margin-left:170px;
	margin-top:25px !important;
	margin-bottom:25px;
	}
	*/
	
.nom_detenteur_cb
{
		border-bottom:1px solid #afafaf;
		padding:17px 0;
		margin-right:0 !important
	}
	

	
.nom_detenteur_cb label
{
	font-weight:bold !important
	}
.modif_cb form .form_cb
{
	
padding:35px;

	}
	
.compte_parent_content > .checkbox
{
	width:555px;
	margin:0 auto
	}
	
.compte_parent_content .checkbox a
{
	text-decoration:underline !important;
	font-weight:bold !important
	}
	
.modif_cb form label strong
{
	color:#00aeef
	}
	
.left_aide
{
	float:left;
	width:75px

	}
	
.right_aide a{
	color:#00aeef;
}
.right_aide
{
	float:left;
	font-size:22px;
	font-weight:bold;
	color:#00aeef;
	line-height:72px
	}
	
.right_aide dl dd, .right_aide dl dd a
{	color:#00aeef;
	font-size:18px;
	font-weight:normal
	
	}
	
.resiliation > p a
{
	font-weight:bold;
	text-decoration:underline !important
	}
	
.resiliation form .motif_resiliation a.btn-orange
{
	margin-top:60px !important;

	display:inline-block
/*	margin-left:75px */
	}
ul.abonnement_list
{	
	margin-left:40px;
}
ul.abonnement_list li
{
	list-style:none;

		background: url(../../../images/puce_list.jpg) left no-repeat;
		padding-left:17px;
		line-height:36px
	}	
	
.conversation_securise
{
	font-size:14px;
	line-height:24px;
	color:#000 !important;
	font-weight:normal !important;
	margin-bottom:0;
	margin-top:35px; 
	color: red !important; 
	}
	
.conversation_securise a
{
	font-size:14px;
	line-height:25px;
	color:red !important;
	font-weight:normal !important;
/*	text-decoration:underline !important*/
	}
	
.conversation_securise strong
{
	text-decoration:underline
	}
	
.form_cb_paiement
{
	
	border: 1px solid #b3b3b3;
	}
	
.form_cb_paiement .form_cb
{
	padding:15px
	}
	
	
.cb_formulaire_paiement > div.checkbox
{
	margin-left:50px;
	margin-right:50px
	}
	
.form_cb_paiement label strong
{
	color:#00aeef
	}
	
.cb_formulaire_paiement
{
	padding:40px 45px
	
	}

.facture_link
{
	text-align:center;
	text-decoration:underline;
	margin-top:33px;
	margin-bottom:33px
	}
	
.gras_txt
{
	font-size:20px;
	font-weight:bold
	}
.color_ciblee	
{
	color:#1f1fb8;
	font-weight:bold
	}
	
.color_tribu	
{
	color:#519714;
	font-weight:bold
	}
	
.color_reussite	
{
	color:#009196;
	font-weight:bold
	}
	
.under_txt
{
	text-decoration:underline
	}
	
	
.btn-ciblee {
color: #fff;
background-color: #6a6ae4;
/* margin: 25px 0; */
margin-top: 25px;
margin-bottom: 25px;
text-align:center;
font-size:26px !important;
font-weight:normal !important
}


.btn-reussite {
color: #fff;
background-color: #13bec4;
/* margin: 25px 0; */
margin-top: 0;
margin-bottom: 25px;
text-align:center;
font-size:26px !important;
font-weight:normal !important
}



.btn-tribu {
color: #fff; 
background-color: #5fa522;
/* margin: 25px 0; */
margin-top: 0;
margin-bottom: 25px;
text-align:center;
font-size:26px !important;
font-weight:normal !important
}

span.btn-tribu {
color: #fff!important;
cursor: default!important; 
}

/******************** formules ********************/

/*TEMPORRAIRE
div.col-md-4.formule_tribu {
opacity: 0.4 !important;
filter:alpha(opacity=40);
-moz-opacity:0.40;
}
div.col-md-4.formule_tribu .bottom_formule{
opacity: 0.4 !important;
filter:alpha(opacity=40);
-moz-opacity:0.40; 
}
*/

	.div_tribu{
	background:#FF7200;
	position: absolute;
	height: 50px;
	left: 0; 
	right: 0; 
	line-height: 50px;
	color: #FFF;
	font-size: 24px;
	top: 23%;
	margin-left: 15px;
margin-right: 15px;
}


.formule_ciblee
{
	/*border:5px solid #6a6ae4;*/
	background:#fff;

	}
	
.formule_ciblee .top_formule
{
	
	background:#6a6ae4;
	text-align:center;
	height: 370px;
	}
	
.formule_reussite .top_formule
{
	
	background:#13bec4;
	text-align:center;
	height: 370px;
	}
	
	
.formule_tribu .top_formule
{
	
	background:#85bb03;
	text-align:center;
	height: 370px;
	}
	
	
.formule_ciblee .bottom_formule
{
	
	border:5px solid #6a6ae4;
	padding-top:17px
	
	}
	
.formule_reussite .bottom_formule
{
   border:5px solid #13bec4;
   	padding-top:17px
	
	}
	
	
.formule_tribu .bottom_formule
{
	border:5px solid #85bb03;
		padding-top:17px
	
	}
	
	.price_formule{	
		font-size:26px;
	}
	

	
.formule_ciblee .price_formule
{
	
	color:#1b11aa;
	font-family:'ubuntulight'
	}
	
.formule_reussite .price_formule
{
	color:#006e72;
	font-family:'ubuntulight'
	}
	
.formule_tribu .price_formule
{
	color:#5b8100;
	font-family:'ubuntulight'
	}
	
	
.formule_ciblee .price_formule span, .formule_tribu .price_formule span, .formule_reussite .price_formule span
{
	font-family:'ubuntubold';
	color:#ff7e15
	}
	
.nbr_enfant{
	font-size:22px;
	color:#fff;
	padding:8px;
	display:inline-block;
}
	
.formule_ciblee .nbr_enfant
{
	background:#1f1fb8;
}
	
.formule_reussite .nbr_enfant
{
	background:#009196;
}
	
.formule_tribu .nbr_enfant
{
	background:#5b8100;
}
	
	.title_formule
{
	font-size:26px;
	font-family:'ubuntubold';
	color:#fff;
	padding-top:10px;
	margin-bottom:0
	}
	.nbr_enfant{
	font-size:22px;
	color:#fff;
	padding:8px;
	display:inline-block;
}
.nbr_classe_matiere
{
	font-size:22px;
	color:#fff;
	font-weight:bold;
	padding-bottom:17px;
	margin-bottom:0
	}
	
.image_formule
{
	text-align:center;
	display:inline-block
	}
	
.bottom_formule
{
	text-align:center;
	position:relative
	}
	
.bottom_formule .btn-ciblee
{
	margin-top:0
	}
	
.formule_link
{
	position:absolute;
	right:13px;
	bottom:8px
	}
	
.formules_bordas
{
	margin-bottom:15px
	}

.abo_bottom{
	margin-bottom: 30px;
}
.comparaison_button
{
	text-align:center
}
.comparaison_button .btn-orange
{
	margin-top: 0!important; 
}

td.engagement 
{
	background:#ff9545
	
	}
	
.th_engagement
{
	background:#ff9545;

	color:#fff;
	text-align:center;
	
	}
	
.table_comparatif
{
	border-collapse:separate;
	border-spacing:1px;
	font-weight:normal;
	font-size:18px
	}
	
.table_comparatif tr td
{
	padding:5px 25px;
text-align:center;
	margin:5px
	}
	
.classe_ciblee
{
	background:#6a6ae4;
	color:#05056d;
	text-align:center;
	font-weight:bold;
	margin-right:7px
	}
	
.classe_tribu
{
	background:#85BB03;
	color:#2b3a00;
	text-align:center;
	font-weight:bold;
	
	}


.classe_reussite
{
	background:#13bec4;
	color:#003f3c;
	text-align:center;
	font-weight:bold;

	}
@media screen and  (max-width:1279px) {
	.formule_link
	{
		position:absolute;
		right:1px;
		bottom:15px
	}
}

@media screen and (min-width:1024px) and  (max-width:1279px) {
.header_left {
float: left;
height: 155px;
}
	#steps .active {
background: #00AEEF!important;
}
#steps .active .arrow_right {
background-image: url(../../../images/bg_tab_active_after.png) !important;
}
.active .arrow_left {
background-image: url(../../../images/bg_tab_active_before.png) !important;
}
	ul#steps li a {
		display: block;
		height: 50px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 24px;
		color: #FFF;
		line-height: 50px;
		text-align: center;
		padding: 0 15px;
	}
}


@media screen and (min-width: 768px) and (max-width:1023px) {
	.header_left {
		float: left;
		height: 165px;
	}

	body#cart .col-sm-3 {
	width: 35%!important;
	}
	

	
	body#cart  .col-sm-1 {
		width: 11.333333%;
	}
	.title_pack {
	font-family: 'ubuntubold';
	font-size: 22px;
	padding: 30px 0;
	text-align: center;
	}
	.paiement_pack {
	color: #000;
	font-size: 17px;
	font-weight: normal;
	text-align: center;
	}
	.body_pack {
	padding-top: 36px;
	padding-bottom: 20px;
	min-height: 405px;
	}
	.body_pack .btn-orange {
	margin: 30px auto;
	}
	.changer_formule{
		width: 100%;
	}
	.changer_formule a{
		text-decoration: underline !important; 
	}
	#steps {
		margin-left: 0!important;
		clear: both !important;
		float: right !important;
	}
	.price_formule{
		font-size: 18px;
	}
	.formule_link img{
		width: 65%;
	}
	.formule_link
	{
		position:absolute;
		right:-15px;
		bottom:30px
	}
	
	.modal-content
	{
		width:768px !important
		
		}
		

	
	
}


	
	

	
@media screen and (min-width: 768px) and (max-width:979px) {
	.title_pack {
	font-family: 'ubuntubold';
	font-size: 22px;
	padding: 30px 0;
	text-align: center;
	}
	.paiement_pack {
	color: #000;
	font-size: 17px;
	font-weight: normal;
	text-align: center;
	}
	.body_pack .btn-orange {
	margin: 30px auto;
	}
	.body_pack {
	padding-top: 36px;
	padding-bottom: 20px;
	min-height: 425px !important;
	}
	#steps {
		margin-left: 0!important;
		clear: both !important;
		float: right !important;
	}
	
ul#steps li a {
	display: block;
	height: 50px!important;;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px!important;;
	color: #FFF;
	line-height: 50px!important;;
	text-align: center;
	padding: 0 5px!important;
}

#steps .active {
background: #00aeef!important;
}
#steps .active .arrow_right {
background-image: url(../../../images/bg_tab_active_after.png) !important;
}

	body#cart .col-sm-3 {
	width: 35%!important;
	}
	body#cart  .col-sm-1 {
		width: 11.333333%;
	}
.title_formule
{
	font-size:24px;
	font-family:'ubuntubold';
	color:#fff;
	padding-top:10px;
	margin-bottom:0
	}
	.nbr_enfant{
	font-size:14px;
	color:#fff;
	padding:8px;
	display:inline-block;
}
.nbr_classe_matiere
{
	font-size:18px;
	color:#fff;
	font-weight:bold;
	padding-bottom:17px;
	margin-bottom:0
	}
	

	
	
	
}

@media screen and (max-width: 768px) {
#steps .active {
background: #00AEEF!important;
}
.active .arrow_left {
background-image: url(../../../images/bg_tab_active_before.png) !important;
}

.cb_expiration_div .col-sm-5

	{
		width:40% !important
		}	


#mon_compte
{
	z-index: 10000!important;
	margin-top: -1px!important;
	position: absolute!important;
	right: 0!important;
	float: none!important;
	left: auto!important;
}
	
#mon_compte > li > a
{
	white-space:normal !important;
	color: #000!important;
	
}
	
#mon_compte > li
{
	border-bottom:1px solid #ffb453;
	background:url(../../../images/myaccount_link.png) right no-repeat;
	text-align:right;
		line-height:18px;
		
	}
	
.modal-content
	{
		width:80% !important;
		padding:20px !important
		
		}
	
#mon_compte > li.deconnexion_btn
{
		background:url(../../../images/myaccount_deconnexion.png) right no-repeat;
		border-bottom:none
	}
	
#mon_compte > li a
{
	font-size:16px;
	line-height:30px!important;
	display:block;
	padding: 3px 30px 3px 0px!important;
}
	
#mon_compte > li:hover a
{
	background:#ffb453 url(../../../images/myaccount_link.png) right no-repeat !important;
}
	
#mon_compte > li.deconnexion_btn:hover a
{
	background:#ffb453 url(../../../images/myaccount_deconnexion.png) right no-repeat!important;
}
#account_block_connected .connect span{
	font-size: 14px!important;
}



.header_left {
		float: left;
		height: 190px;
	}

body#cart .modal-content {
position: relative;
background-color: #FFF;
padding: 0;
width: 80% /*100%*/ !important;
-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
border: 1px solid #818181;
}
#cart .btn_carte {
	text-align: center!important; 
}
#cart .checkbox {
padding-left: 0;
margin-left: 20px;
}

.form-control {
display: block;
width: 100%;
height: 36px;
padding: 3px 4px !important;
font-size: 15px !important;
line-height: 36px;
background-color: #FFF;
background-image: none;
border: 1px solid #B3B3B3;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #000;
font-weight: normal;
}

body#cart .col-sm-2 {
width: 24.666667%;
}



body#cart .col-sm-offset-6 {
margin-left: 40%;
}
#cart .valid_abonnement{
	 margin: auto!important; 
}

body#cart .col-sm-1 {
width: 16.333333%;
}
body#cart .col-sm-3 {
width: 45%;
}
select#nb_enfant {
width: 50%;
}
ul#steps {
margin-left: 0;
clear: both;
float: left;
}
#div_personal_information {
background: #FFF;
border: 1px solid #00AEEF;
padding: 10px;
margin-top: 35px;
width: 100%!important;
margin: 0 auto;
}
#div_login {
background: #FFF;
border: 1px solid #00AEEF;
padding: 10px;
width: 100%!important;
margin: 0 auto;
margin-top: 35px;
}
#div_options_list_form {
display: block;
min-height: 20px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: auto;
text-align: left!important;
}
#div_options_list_form input{
float: left; 
}
#div_options_list_form label{
	width: 90%!important; 
}
.table_comparatif tr td
{
	padding:10px;
	text-align:center;
	margin:5px
}
.table_comparatif {
	border-collapse: separate;
	border-spacing: 1px;
	font-weight: bold;
	font-size: 14px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right:15px;
	padding-left: 15px;
	float:none;
	width:auto
}

.modal-content
{
	width:80% !important
	}
	
.warn .btn-orange
{
	margin-left:0;

	}

ul#steps li
{
	 float:left;
	 width:auto;
	 margin-bottom:11px
	}
	
ul#steps li a
{
	text-align:left
	}
	

	
	
	#steps {
		margin-left: 0!important;
		clear: both !important;
		float: right !important;
	}
	
ul#steps li a {
	display: block;
	height: 50px!important;;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px!important;;
	color: #FFF;
	line-height: 50px!important;;
	text-align: center;
	padding: 0 5px!important;
}

	
.form-horizontal .control-label
{
	text-align:left
	}
	
.detail_formule .body_formule, .confirmation .body_formule, .paiement_formule .body_formule
{

		padding:15px
	}


.modif_cb > .btn-orange
{
	margin-left:0;

	}
	
		
	
.formulaire_form, .formulaire_form_paiement
{
	width:auto;
margin:0 auto;
	}	
	


.myaccount > li a
{
	font-size:16px;
	line-height:18px !important;
	display:block;
	padding-top:15px !important;
	padding-bottom:15px !important
	}
	
.myaccount > li:hover a
{
	background:#ffb453 url(../../../images/myaccount_link.png) right no-repeat !important
	}
	
.myaccount > li.deconnexion_btn:hover a
{
	background:#ffb453 url(../../../images/myaccount_deconnexion.png) right no-repeat !important
	}
	
	
.warn, .modif_cb, .resiliation
{
	width:auto
	}
	
	.resiliation form
	{
		padding-left:0;
		padding-right:0
		}
		
	.resiliation form .motif_resiliation a.btn-orange
	{
		margin-left:0
		}
	

	
#cart .copyright
{
	border-top:7px solid #0177a4
	}
	
.modif_cb form .form_cb
{
	padding:15px
	}
	
.cb_formulaire_paiement
{
	padding:5px
	}
	
input#inputnumcontrole
{
	width:50%;
	float:left
	}
	
.cb_formulaire_paiement > div.checkbox
{
	margin-left:0;
	margin-right:0
	}
	
.valid_abonnement
{
	margin-left:5%
	}
	
.aide
{
	margin-top:40px !important
	}
	
.formule_ciblee, .formule_tribu, .formule_reussite
{
	margin-bottom:22px
	}
	
.aide  .col-md-4
{
	width:100%;
	float:left
	}
	
	
	
}


@media screen and (max-width: 480px) {




.form-control {
padding: 0px 0px !important;
font-size: 13px !important;
}

input#inputnumcontrole {
width: 70%;
float: left;
}
body#cart .col-sm-offset-6 {
margin-left: auto;
}

body#cart .col-sm-1 {
width: 18.333333% !important; 
margin-top: 5px !important; 
}
#div_personal_information .fieldset label {
font-weight: normal;
padding-top: 0;
text-align: right;
width: 40%!important;
float: left;
line-height: 25px;
}
#div_login label {
font-weight: normal;
padding-top: 0;
text-align: right;
width: 35.666667%!important;
float: left;
line-height: 25px;
}
.table_comparatif tr td
{
	padding:2px;
	text-align:center;
	margin:5px
}
.table_comparatif {
	border-collapse: separate;
	border-spacing: 1px;
	font-weight: normal;
	font-size: 14px;
}


.form-horizontal .control-label {
text-align: center !important;
}
.col-sm-5 {
width: 100% !important;
}
.col-sm-6 {
width: 100% !important;
}
body#cart .col-sm-2 {
width: 100%!important;
}
.col-md-offset-4 {
width: 100%!important;
margin: 0!important;
}
body#cart .col-sm-3 {
width: 100%!important;
}
.col-sm-4 {
width:  100%!important;
}
select{
	width: 100%!important;
}

div.col-sm-6.matiere
{
	width:100%;
	margin:10px 0;
	}f
}
	
	
@media screen and (max-width: 479px) {


#div_personal_information .fieldset label {
	font-weight: normal;
	padding-top: 0;
	text-align: center;
	width: 100%!important;
	line-height: 25px;
}

#div_personal_information input {
	display: block;
	width: 100%;
	height: 36px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 36px;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #B3B3B3;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	font-weight: normal;
	clear: both;
	margin-top: 0;
	margin-right: 0!important;
}
#div_personal_information select {
display: block;
width: 100% !important;
height: 36px;
padding: 6px 12px;
font-size: 18px;
line-height: 36px;
background-color: #FFF;
background-image: none;
border: 1px solid #B3B3B3;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #000;
font-weight: normal;
clear: both;
float: right;
margin-top: 0;
	margin-right: 0!important;
}

#div_personal_information .fieldset {
background: #E4F6FC;
padding: 15px;
height: 465px;
}

#div_login .fieldset label {
	font-weight: normal;
	padding-top: 0;
	text-align: center;
	width: 100%!important;
	line-height: 25px;
}

#div_login input {
	display: block;
	width: 100%;
	height: 36px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 36px;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #B3B3B3;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	font-weight: normal;
	clear: both;
	margin-top: 0;
	margin-right: 0!important;
}
#div_login select {
display: block;
width: 100% !important;
height: 36px;
padding: 6px 12px;
font-size: 18px;
line-height: 36px;
background-color: #FFF;
background-image: none;
border: 1px solid #B3B3B3;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #000;
font-weight: normal;
clear: both;
float: right;
margin-top: 0;
	margin-right: 0!important;
}

#div_login .fieldset {
background: #E4F6FC;
padding: 15px;
height: 290px;
}



	#popupcomparatif .modal-content {
	width: 100% !important;
	padding: 0!important;
}

#account_block_connected .name_customer{
	width: auto;
padding: 0;
border-right: 0;
}
#account_block_connected .moncompte_button{
	width: auto;
}
.account_block_head > a span
{
	float:left;
	display:block;
	margin-right:12px;
	padding-left: 10px;
	
}

.header_left {
float: left;
height: 220px;
}
#account_block_header .btn-orange {
margin-top: 5px!important;
}
.account_block_head
{
display: block!important; 
float:right;
min-width:100%;
margin-bottom:0px;
position: absolute!important; 
right: 0;
bottom:0;
}
.account_block_head  ul 
{
border:1px solid #ffb453;
background:#fff;
width:100%;
}


body#cart {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
font-size: 16px;
}

.form-horizontal .control-label {
text-align: center !important;
}
.col-sm-5 {
width: 100% !important;
}
.col-sm-6 {
width: 100% !important;
}
body#cart .col-sm-2 {
width: 100%!important;
}
.col-md-offset-4 {
width: 100%!important;
margin: 0!important;
}
body#cart .col-sm-3 {
width: 100% !important;
}

	body#cart  .code_promotionnel
	{
		width: 75% !important;
		}
		
.body_pack .btn-orange
{
	margin:0!important;
	}
	

		
body#cart .valid_code_promotionnel
{
	width:24.333333% !important;
	margin-top:0 !important
	}
	
ul#steps 
{
	width:100%
	
	}
.col-sm-4 {
width:  100%!important;
}
select{
	width: 100%!important;
}
a.btn.btn-orange.valid_abonnement.col-sm-offset-6{
	font-size:16px!important;
}

	.picto_formule
{

	width:20%

	}
	
div.right_description
{
	float: left;
width: 71%;
	}
	
.cb_expiration_div .col-sm-5

	{
		width:40% !important
		}	
		
	body#cart  .numcontrol_div
{
	width:70% !important
	}
	
	ul#steps li a
	{
		font-size:21px
		}
		
	body#cart form#creer_compte_enfant .col-sm-3
	{
		width:48% !important
		
		}
		
		body#cart .valid_matiere_button
		{
			width:30% !important
			}
			
			.th_cible img, .th_reussite img, ..th_tribu img
{
	width:90px !important
	
	}
	
	

}


#steps .active { background:#00aeef!important}
#steps .active .arrow_right {
background-image: url(../../../images/bg_tab_active_after.png) !important; 

}
	
	
.active .arrow_left
{
background-image: url(../../../images/bg_tab_active_before.png) !important; 
}

.fermer { display:none;}


/* Feuille de style liÃ© au plugin Tips de mootools. */
/* Permet de styliser les Ã©tiquettes de survol. */

div.tip-wrap {
	background: #ffffff;
	text-align: left;
	width: 420px;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 50;
	box-shadow: 1px 1px 12px #555;
}
	div.tip-top {
		border-left: 2px solid #4A5B68;
		border-right: 2px solid #4A5B68;
		border-top: 10px solid #4A5B68;
		background: #ffffff;

	}
	div.tip {
		border: 2px solid #4A5B68;
		border-top: none;
		background: #ffffff;
		padding: 2px;
	}
	div.tip-title {
		color: #4CA0E4;
		font-weight: bold;
		font-size: 13px;
		padding-top: 2px;
		padding-left: 5px;
		padding-right: 5px;
		background: #EDF1F3;
	}
	div.tip-text {
		color: #516574;
		font-weight: normal;
		font-size: 11px;
		padding: 5px;
		padding-top: 5px;
		background: #EDF1F3;
	}
	div.tip-wrap p {
		margin: 0;
		padding: 0;
	}
	div.tip-wrap ul {
		list-style-type: none;
		padding: 0;
		margin: 5px;
	}
	img.help {
		cursor: help;
		margin-left: 5px;
		vertical-align: top;
	}

@media screen and (max-width: 320px) {

.name_customer{
	border-right: none; 
}
#moncompte_connecte{
	display: none!important;
	
}
.picto_formule
{
	width:20%
	}
	
div.right_description
{
float: left;
width: 71%;
}	
	
.picto_formule img
{
width:90px
}
	
	
#div_personal_information .fieldset label {
font-weight: normal;
padding-top: 0;
text-align: left;
width: 100% /*35.666667%*/ !important;
float: none;
line-height: 25px;
margin:0;
display:block;
font-size:14px
}

#div_personal_information input
{
	width: 100% /*35.666667%*/ !important;
	float:none;
	margin:0
	}
	
#div_personal_information select
{
	width: 100% /*35.666667%*/ !important;
	float:none;
	margin:0
	}
	
#div_personal_information .fieldset ul
{
	height:55px
	}
	
#div_login label {
font-weight: normal;
padding-top: 0;
text-align: right;
width: 35.666667%!important;
float: left;
line-height: 25px;
}

	
	#div_login label
	{
		float:none;
		width:100% !important;
		display:block;
		text-align:left;
		line-height:20px;
		font-size:14px
		}
	
	#div_login input
	{
		float:none;
		margin:0;
		width:100% ;
		display:block
		}
	
	#div_login .fieldset li
	{
		height:75px
		}
		
	.matiere_etape_suivant  
	{
		margin:0 !important
		}
		
	.right_aide
{
	font-size:14px !important
	}
	
.right_aide dl dd, .right_aide dl dd a
{
	font-size:11px !important
	}
	
body#cart  .numcontrol_div
{
	width:50% !important
	}
	
.description_formule h2
{
	font-size:27px
	}
	
.cb_expiration_div
	{
		width:100% !important
		}
		
.cb_expiration_div .col-sm-5

	{
		width:40% !important
		}
	
}

@media screen and (max-width: 767px) {
ul#steps
{
 margin-left: 0!important;
clear: both !important;
float: left !important;
 }
ul#steps li
{
	 float:none;
	 width:auto;
	 margin-bottom:11px
	}
	
ul#steps li a
{
	text-align:left
	}
	
ul#steps li span.arrow_left
{
	display:none
	}
div.col-sm-6.matiere
{
	width:100%;
	margin:10px 0;
	}

	
	
}

/*.th_cible
{
	background: url(../../../images/th_formule_cible.jpg) no-repeat ; 

	
	}
	
.th_reussite
{
	background: url(../../../images/th_formule_reussite.jpg) no-repeat	 ; 

	}
	
.th_tribu
{
	background: url(../../../images/th_formule_tribu.jpg) no-repeat; 

	}*/
	
@media screen and (max-width: 630px) {
	div.right_description
{
	float: left;
width: 71%;
	}
	
	
}	

#creer_mon_compte .help{
	color:#fff;
}

#creer_mon_compte #personal_number{
	background:white;
	border:white;
}

#creer_mon_compte img.help, #creer_mon_compte .help{
	visibility:hidden;
}
