* {
	margin: 0;
	padding: 0
}
@font-face {
	font-family: 'ubuntubold';
	src: url('../fonts/ubuntu-b-webfont.eot');
	src: url('../fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-b-webfont.woff') format('woff'), url('../fonts/ubuntu-b-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntubold_italic';
	src: url('../fonts/ubuntu-bi-webfont.eot');
	src: url('../fonts/ubuntu-bi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-bi-webfont.woff') format('woff'), url('../fonts/ubuntu-bi-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntu_condensedregular';
	src: url('../fonts/ubuntu-c-webfont.eot');
	src: url('../fonts/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-c-webfont.woff') format('woff'), url('../fonts/ubuntu-c-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntulight';
	src: url('../fonts/ubuntu-l-webfont.eot');
	src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-l-webfont.woff') format('woff'), url('../fonts/ubuntu-l-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntulight_italic';
	src: url('../fonts/ubuntu-li-webfont.eot');
	src: url('../fonts/ubuntu-li-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-li-webfont.woff') format('woff'), url('../fonts/ubuntu-li-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntumedium';
	src: url('../fonts/ubuntu-m-webfont.eot');
	src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-m-webfont.woff') format('woff'), url('../fonts/ubuntu-m-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntumedium_italic';
	src: url('../fonts/ubuntu-mi-webfont.eot');
	src: url('../fonts/ubuntu-mi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-mi-webfont.woff') format('woff'), url('../fonts/ubuntu-mi-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubunturegular';
	src: url('../fonts/ubuntu-r-webfont.eot');
	src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-r-webfont.woff') format('woff'), url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ubuntuitalic';
	src: url('../fonts/ubuntu-ri-webfont.eot');
	src: url('../fonts/ubuntu-ri-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-ri-webfont.woff') format('woff'), url('../fonts/ubuntu-ri-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background: #fff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
}
header {
	background: #fff;
	padding-top: 10px;
	position: relative
}

.header_left {
	float: left
}
.addthis_toolbox 
{
	float: left;
	width: 350px
}
.header_right {
	float: right;
	width: 600px
}
.newsletter_btn {
	float: right
}
.center_column h2 {
	color: #ff6c00;
	font-family: 'ubuntumedium';
	font-size:24px;
}

body#home .center_column h2 {

	font-size: 24px;
}

.description div, .description_top div
{
	line-height:28px;
	font-size:18px;
	color:#000
	}
	.description h2 {
	line-height: 28px;
	font-size: 18px;
	color: #000;
}
.center_column .description
{
	margin-bottom:50px
	}
	
.center_column .description h2
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
	}
	
.separateur
{
	
	background:url(../../../images/separateur.jpg) repeat-x;
	margin-top:10px;
	margin-bottom:40px;
	height:5px
	}

.center_column .block_home {
	min-height: 353px
}
.center_column .block_home > a > img, .center_column .block_home > img {
	border-bottom: 8px solid #ff7e15
;
	margin-bottom: 5px;
}
.center_column h3.accroche{
	font-size:18px;
	line-height:28px;
	color: #333;
}
.center_column h3.accroche p{
	font-size:18px;
	line-height:28px;
	color: #333;
}
.center_column p
{
	font-size:18px;
	line-height:28px;
}


body#article .center_column p
{
	font-size:16px;

}


.block_reassurance {
	background: #00aeef;
	border-bottom: 8px solid #0177a4;
	min-height: 167px
}
.block_reassurance ul li {
	list-style: none;
	text-align: center;
	padding: 0;
	padding-top: 20px
}
.block_reassurance ul li span {
	display: block;
	color: #fff
}
.block_reassurance ul li div {
	width: 50%;
	float: left;
	min-height: 160px
}
.pied {
	background: #353b40;
	min-height: 380px;
	padding-top:50px
}
.pied h2 {
	color: #fff;
	margin-bottom: 10px
}
.pied ul li {
	list-style: none;
	line-height: 30px;
	background: url(../../../images/puce_list.png) no-repeat left 12px;
	padding-left: 17px;
	color: #fff
}
.bgnone {
	background: none !important;
	padding-left: 0 !important
}
.pied ul li a {
	color: #fff
}
.pied ul li a:hover {
	color: #00aeef
}
.footer_link {
	margin-top: 45px;
	font-size: 18px;
	color: #fff;
	float: right;
	text-decoration: underline
}
.copyright {
	background: #1c1f22;
	min-height: 54px;
	text-align: center;
	color: #fff
}
.abonnement_block h2 {
	background: #ff7e15;
	min-height: 54px;
	color: #fff;
	font-family: 'ubuntubold';
	text-align: center;
	line-height: 54px;
	margin-top: 0
}
.abonnement_block {
	background: #ffb453;
	color: #fff;
	overflow: hidden
}
.presse_block {
	background: #3ecbff;
	color: #fff;
	overflow: hidden
}
.abonnement_block p {
	font-size: 26px;
	color: #fff;
	font-weight: bold;
	text-align: center
}
.abonner_link {
	background: #fff;
	border-radius: 10px;
	width: 250px;
	height: 50px;
	display: block;
	line-height: 50px;
	text-align: center;
	margin: 28px 60px
}
.abonner_link a {
	background: url(../../../images/bg_abonner_link.png) no-repeat right;
	font-size: 20px;
	color: #00aeef;
	font-family: 'ubuntubold';
	padding-right: 40px
}
.plus_abonner {
	float: right;
	color: #fff;
	font-size: 20px;
	font-family: 'ubuntumedium';
	padding-bottom: 20px;
	padding-right: 20px
}
.presse_block h2 {
	background: #00aeef;
	min-height: 54px;
	color: #fff;
	font-family: 'ubuntubold';
	text-align: center;
	line-height: 54px;
	margin-top: 0
}
.presse_block p {
	padding-left: 40px;
	color: #000
}
.right_column .block {
	margin-bottom: 49px
}

/* ************************ Menu ******************************************* */
.menu {
	background: #00aeef;
	min-height: 45px;
	margin-bottom: 8px;
	font-family: 'ubuntubold';
	font-size: 20px;
	font-weight: normal;
}
.menu ul li a {
	color: #fff
}
.slider {
	width: 1280px;
	margin: 0 auto
}
.flex-control-paging {
	height: 30px;
	width: 120px;
	margin: 0 auto;
	margin-top: 10px
}
.flex-control-paging li {
	float: left;
	margin-right: 5px;
}
.flex-control-paging li a {
	text-indent: -9999px;
	background: url(../../../images/slide_pagination.png) no-repeat;
	display: block;
	width: 22px;
	height: 22px;
	cursor: pointer
}
html>body>div.carousel>section.slider>div.flexslider>ol.flex-control-nav { }
.flex-direction-nav {
	display: none
}
.slider .flex-control-paging li a:hover {
	background-image: url(../../../images/slide_pagination_hover.png);
}
.temoignages {
	background: #d3f4ff;
	
}
.temoignages h2 {
	color: #5a2149;
	font-family: 'ubuntumedium';
	padding-top:10px
}
.navbar-default .navbar-brand {
	color: #fff !important;
	font-size: 40px !important;
	font-family: 'ubuntubold' !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff !important;
	font-size: 40px !important;
	font-family: 'ubuntubold' !important;
}
.temoignages h3 {
	color: #5a2149;
	font-family: 'ubunturegular';
	font-size: 18px;
	margin-top: 10px
}
.message {
	color: #000;
	font-size: 18px;
	line-height: 28px
}
.bg_left_message {
}
.author {
	font-size: 14px;
	float: left
}
.temoignages_link {
	float: right;
	color: #00aeef;
	font-size: 20px;
	font-family: 'ubuntumedium';
}
.newsletter_btn {
	background: url(../../../images/newsletter_icon.png) no-repeat left;
	padding-left: 29px;
	color: #00aeef;
	font-family: 'ubuntumedium';
	text-decoration: underline
}
.account {
	background: #fff;
	border: 2px solid #00aeef;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 0 !important;
	height: 33px;
	width: 139px;
	float: right;
	margin-top: 60px;
}
.account_btn {
	background: url(../../../images/account_icon.png) no-repeat left;
	color: #00aeef;
	font-family: 'ubuntubold';
	width: 107px;
	height: 35px;
	padding-left: 30px;
	line-height: 35px;
}
.nav > li > a {
	color: #fff !important;
	font-size: 20px;
	font-family: 'ubuntubold';
	font-weight: normal;
	text-shadow: none !important;
	background: url(../../../images/menu_icon.png) no-repeat left;
	padding-left: 20px;
}
.caret {
	display: none
}
.nav > li:first-child > a {
	background: url(../../../images/home_icon.jpg) ;
	width: 64px;
	height: 50px;
	text-indent: -99999px
}
.dropdown-menu {
	background: #fea533;
	width: 220px;
	color: #fff !important;
	font-size: 20px;
	font-family: 'ubuntumedium';
	padding: 0
}
.dropdown-menu > li > a {
	color: #fff !important;
	line-height: 38px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background: #fc8822;
}

.navbar-nav > li > a:hover

.navbar-nav  > li > a:focus {
	background: #fc8822;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background: #fc8822 !important;
	color: #fff !important
}
.bg_left_message {
	background: url(../../../images/bg_left_message.png ) no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bg_right_message {
	background: url(../../../images/bg_right_message.png ) no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	float: right;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.dropdown-submenu {
	position: relative;
}
html>body>nav.navbar>div.container>div#bs-example-navbar-collapse-1.collapse>ul.nav>li.dropdown>ul.dropdown-menu>li.dropdown-submenu>ul.dropdown-menu {
	width:auto;
	min-width: 70px;
}
html>body>nav.navbar>div.container>div#bs-example-navbar-collapse-1.collapse>ul.nav>li.dropdown>ul.dropdown-menu>li.dropdown-submenu>ul.dropdown-menu>li.cosoustop>a:hover { border-radius:0 6px 0 0;}
html>body>nav.navbar>div.container>div#bs-example-navbar-collapse-1.collapse>ul.nav>li.dropdown>ul.dropdown-menu>li.dropdown-submenu>ul.dropdown-menu>li.cosousbot>a:hover { border-radius:0 0 6px 6px;}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
html>body>section.slider>div.flexslider>ol.flex-control-nav>li { visibility: hidden;}



div.photo_classe
{
	float:left;
	margin-right:3px;
	/*width:72%*/
	}
	
div.right_classe
{
	
	float:left
	}
	
div.right_classe1 {
width: 38%;
float: left;
}

div.right_classe2 {
width: 62%;
float: left;
}


p.titre_classe
{
	font-family:'ubuntumedium';
	font-size:18px;
	text-align:center;
	margin-bottom:0
	
	}
	
a.classe_link
{
	background:#91e1ff;
	height:27px;
	text-align:center;
	color:#000;
	display:block;
	margin-bottom:3px;
	min-width:97px;
	font-size:18px;
	text-transform:uppercase;
	cursor:pointer;
	}
	
a.classe_link:hover
{
	background:#00aeef;
	color:#fff;
	text-decoration:none
	
	}
	
a.classe_link1 {
background: #91e1ff;
height: 27px;
text-align: center;
color: #000;
display: block;
margin-bottom: 3px;
min-width: 97px;
font-size: 18px;
text-transform: uppercase;
cursor: pointer;
float: left;
margin-right: 3px;
padding: 0 5px;
}
	.large_link_classe {
min-width: 160px !important;
}
a.classe_link1:hover
{
	background:#00aeef;
	color:#fff;
	text-decoration:none
	
	}
	
.spacer
{
	clear:both
	}
	
.class_block
{
	margin-bottom:50px;
	overflow:hidden
	}
	
.cp_block
{
	background:#d3f4ff;
	margin-bottom:50px;	
	overflow:hidden;
	padding: 5px 27px;}
	
.matiere_block
{
	margin-top:50px;	
	overflow:hidden;
	
	}
	
.matiere_block h2
{
	background:#d3f4ff;
	font-size:26px;
	color:#00aeef;
	font-family:'ubuntumedium';
	padding:10px 0;
	padding-left:185px
	}
	
.matiere_block label
{
	font-size:20px;
	color:#797979;
	font-family:'ubuntumedium';
	font-weight:normal;
	margin-right:20px
	}
	
	
.matiere_block select
{
	background:#71d8ff;
	height:32px;
	width:190px;
	border:none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	text-transform:uppercase
	
	}
	
.matiere_block option
{
	background:#b8edfe;
	border:none !important

	}
	


	

	
	
.photo_cp
{
	float:left;
	margin-right:5%;
	width:20%;
	}
	
.cp_block h2
{
	font-size:26px;
	color:#00aeef;
	font-family:'ubuntumedium';
	}
.cp_block h3
{
	font-size:26px;
	color:#00aeef;
	font-family:'ubuntumedium';
	}	
.description_cp
{
	float:left;
	width:75%
	}
	
.cp_block p
{
	font-size:18px;
	margin-bottom:0
	}

.article_link
{
	color:#00aeef;
	font-size: 48px;
	float:right
	;
	height: 50px;
}
	
.liens
{
	color:#000;
	font-family:'ubuntumedium';
	font-size:18px;
	display:block;
	}
	
.liens span
{
	color: #00aeef;
font-size: 30px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
letter-spacing: -5px;
font-weight: bold;
line-height: 30px;
	}
	
.liens:hover
{
	color: #00aeef !important;
	text-decoration:none
}

.carousel-control.left
{
	background:none !important;
	
	}
.carousel-control.right
{
	background:none !important;
	
	}
nav.navbar.navbar-default {
}
.carousel-control.left span
{
	background:url(../../../images/left_arrow.png) no-repeat;
	content:normal !important;
	width:50px;
	height:51px
	}
	
.carousel-control.right span
{
	background:url(../../../images/right_arrow.png) no-repeat !important;
	content:normal !important;
	width:50px;
	height:51px
	}
	
.glyphicon-chevron-left:before
{

	content:normal  !important
	}
	
.glyphicon-chevron-right:before
{
		content:normal  !important
	}
	
.carousel-inner
{
width: 67%;
margin-left:15% !important
	}
	
body#home .carousel-inner
{
width: 1280px!important;
margin: 0 auto !important;
	}
	
body#home .carousel-inner .item li
{
list-style:none
	}
	
.carousel
{
	margin:60px 0
	}
	
body#home #carousel-example-generic
{
	margin:60px 0;
	margin-top:10px !important
	}
	
body#home  .carousel-indicators
{
	bottom:-55px
	}
	
#carousel-example-generic
{
	position:relative
	}
	
body#home .carousel-indicators li
{
	width:22px;
	height:22px;
	border:2px solid #00aeef;
	background:#fff;
	margin:0
	
	;
	margin-right: 5px;
}
	
body#home .carousel-indicators .active
{
	background:#00aeef;
		border:2px solid #00aeef;
			width:22px;
	height:22px;
	
	}
	
	
.flottant
{
	float:left;
	margin-right:20px;
	margin-bottom:20px
	}
	
	
.lire_more
{
	margin-top:50px;
	margin-bottom:50px
	
	}
	
.lire_more h2
{
	font-family:'ubuntumedium';
	font-size:24px;
	color:#888686
	
	}
	
.lire_more .liens span
{
font-size:26px
	
	}
.equipe_block
{
	margin-bottom:40px
	}	
	
.equipe_block h3
{
	font-size:20px;
	margin:0;
	margin-bottom:10px
	}
	
.equipe_block p
{
font-size:15px;
line-height:17px
	}
	
.desciption_equipe
{
	 float:left;
	 width:269px
	}
	
.modal-content h2
{
	color:#ff7e15;
	font-size:24px;
	font-family:'ubuntumedium';
	text-align:center
	}
	
.modal-content label
{
	color:#ff7e15;
	font-size:20px;
	font-family:'ubuntumedium';
	font-weight:normal;
	display:block	}
	
.modal-content input[type=text]
{
	height:40px;
	background:#f0efef;
	border:none;
	width:100%;
	margin-bottom:100px;
	padding:10px
	
	;font-weight: bold;
}
	
.modal-content textarea
{
	min-height:136px;
	background:#f0efef;
	border:none;
		width:100%;
			padding:15px
	
	;font-weight: bold;
}	
	
div.top_center {
    margin: 0 auto;  
    float: right;
    padding-top: 15px;
}
div.header_center {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 55px;
    padding-top: 60px;
    text-align: center;
}
div.prehome_title{
height: 45px;  font-family: 'ubuntubold' !important;  
font-size: 30px !important;  font-weight: normal !important;
color: white;
text-align: center;
padding-top: 5px;
}
div.prehome_offre{font-family: 'ubuntumedium' !important; font-size: 24px !important; 
color: white;
text-align: center;
padding-top: 5px;
}
.raduis_top{border-radius: 10px 10px 0 0; }
.btn-blue{background: #00aeef;}	
.btn-offre{ font-family: 'ubuntubold' !important;color: white;font-size: 16px!important;margin-right: 60px!important; } 
.description-offre{color:black; font-size:16px; font-family: 'trebuchet MS'; }
.blue_sky{background-color:#d3f4ff;}
.prehome-desc{padding: 30px 0;}
#pre-home .up_title {height:5px;margin: 0!important; height: 10px;}
div.col-md-8.prehome_offre {margin-bottom: 40px;}
.prehome_offre{margin:0 auto;clear: both;float: initial;}
			.pagination ul li {

			}
            #loading{

            }
            #containerpg .pagination ul li.inactive,
            #containerpg .pagination ul li.inactive:hover{
    color: #999;  cursor: not-allowed;  background-color: #fff;  border-color: #ddd;

            }
            #containerpg .data ul li{

            }

            #containerpg .pagination{

            }
            #containerpg .pagination ul li{
    position: relative;  float: left;  padding: 6px 12px;  margin-left: -1px;  line-height: 1.42857143;  color: #428bca;  text-decoration: none;  font-size: 24px;  color: #00aeef    /* background-color: #fff;  border: 1px solid #ddd;*/;

			
    list-style: none;
}
            #containerpg .pagination ul li:hover{
			color: #2a6496;
			background-color: #eee;
			border-color: #ddd;
			cursor:pointer;
            }
			.go_button
			{

			}
			.total
			{
			
			}
			#display {
				
			}
			li.single0, li.single1, li.single2{
			 
			}
			div.modal-footer {
				text-align: center;
			}
			.modal-footer {}
			.modal-footer input {
				border-radius: 5px;
				border: 0;
			}
			a.document {
				background: url('../../../images/icon_doc.png')no-repeat;
				display: block;
				height: 32px;
				text-indent: 45px;
			}
			div.slogan, h1.slogan_prehome {
				color: #5a2149;
				font-family: calibri;
				font-size: 25.5px;
			
				/* font-weight: 600; */
				padding: 0 20px;
				position: relative;
				bottom: 8px;
				/* font-size: 25px; */  
				/* font-weight: bold; */  
				/* width: 80%; */  
				/* margin: 0 auto; */
}
h1.slogan_prehome {	font-size: 165%;font-weight: bold;
	width: 100%;	margin: 0 auto;}
div.header_center img.img-responsive {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: block;

}
body#pre-home a.btn.btn-orange {
 margin: 15px 0;
}
}
a.btn.txt-orange{
color: #ff6000;
background: none;
font-size: 18px!important;
}
element.style {
}
div.link-footer {
float: right;
}
a.btn-footer {
    color: white;
    float: right;
    margin-right: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    float: left;
}
center.seo_footer {
    margin: 25px 0;
}
div.container .copyright {}
.copyright div.container {
    padding-top: 25px;
}
input#btnValidate {
    background: #00aeef;
    font-family: 'ubuntubold' !important;  color: white;  font-size: 16px!important;  margin-right: 60px!important;
    padding: 5px;
}


#offre_para
{
	 background: #00aeef;
    font-family: 'ubuntubold' !important;  color: white;  font-size: 16px!important;  margin-right: 60px!important;
    padding: 5px;
	border-radius:5px;
	
	}
	
	
#offre_para:hover
{
	text-decoration:none
	}



input.btnValidate {
    background: #00aeef;
    font-family: 'ubuntubold' !important;  color: white;  font-size: 16px!important;  margin-right: 60px!important;
    padding: 5px;
}
.presse_url{
color:#000000;
}
.right_column .block img {
width: 100%;
}
a.close {
/* display: block; */
/* height: 10px; */
/* width: 10px; */
/* background: red; */
z-index: 99999;
position: relative;
left: 90px;
}
body#abonnement div.modal-header h2 {
    text-align: left;
    font-size: 100%;
}
body#abonnement div.modal-content-newslettre label {
    text-align: left;
    font-size: 100%;
}
body#abonnement div.modal-content-newslettre input#txtEmail {width: 70%;}
div.modal-content.modal-content-newslettre{padding:10px;}
body#pre-home h2 {
font-size: 22px;
}
button.close {
z-index: 99999;
display: block;
position: relative;
bottom: 14px;
left: 8px;
}
div#carousel-example-captions .close {
z-index: 99999;
bottom: 3px;
left: 98px;
float: right;
}

div.hero-unit.text-center.green h4 {
    color: green;
}
div.hero-unit.text-center.red h4 {
    color: red;
}