 @media print {
.navbar {
	display: none;
}
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
	display: table;
	content: " ";
}
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
	clear: both;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0;
 border: 0;
}
body {
	font-family: 'ubunturegular';
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}
a {
	color: #428bca;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2a6496;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
	display: none !important;
}
 @media screen and (min-device-width: 481px) {
.container {
	width: 750px;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown-menu-sub {
	display: none;
}
/* .open > .ul.dropdown-menu-sub
 {
	   display: block;
	 
	 }*/
.dropdown-submenu:hover .dropdown-menu-sub {
	display: block!important;
	background: #fea533;
	position: absolute;
	z-index: 1000;
	float: left;
	min-width: 70px;
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
	width: auto;
	color: #fff !important;
	font-size: 20px;
	font-family: 'ubuntumedium';
	padding: 0;
	list-style: none;
	margin-top: -1px;
	margin-left: 1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0;
	width: auto;
}
.dropdown-menu-sub {
	background: #fea533;
	width: 220px;
	color: #fff !important;
	font-size: 20px;
	font-family: 'ubuntumedium';
	padding: 0
}
.dropdown-menu-sub > li > a {
	color: #fff !important;
	line-height: 38px;
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	color: #333;
	white-space: nowrap;
}
.dropdown-menu-sub > li > a:hover, .dropdown-menu-sub > li > a:focus {
	background: #fc8822;
	text-decoration: none;
}
}
@media screen and (min-device-width: 992px) {
.container {
	width: 970px;
}
}
@media screen and (min-device-width: 1279px) {
.container {
	width: 1170px;
}
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear;
}
.fade.in {
	opacity: 1;
}
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	transition: height .35s ease;
}
.navbar-brand {
	float: left;
	/*  height: 50px;*/
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}
.caret {
	/* display: inline-block;*/
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	/* border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;*/
	border: none !important;
	background: url(../../images/caret_plus.png) no-repeat;
	width: 50px;
	height: 50px;
	float: right
}
.dropdown {
	position: relative;
}
.dropdown-toggle:focus {
	outline: 0;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	/*   font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  /*border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
*/  margin-left: 0 !important;
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}
.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.multi-level > li > a {
	cursor: default;
}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	/*  line-height: 1.42857143;*/
	color: #333;
	white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #262626;
	text-decoration: none;/*background-color: #f5f5f5;*/
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color: #fff;
	text-decoration: none;
	/*background-color: #428bca;*/
	outline: 0;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
	color: #999;
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
	background-image: none;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
	display: block;
}
.open > a {
	outline: 0;
}
.dropdown-menu-right {
	right: 0;
	left: auto;
}
.dropdown-menu-left {
	right: auto;
	left: 0;
}
.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #999;
}
.dropdown-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 990;
}
.pull-right > .dropdown-menu {
	right: 0;
	left: auto;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
	content: "";
	border-top: 0;
	border-bottom: 4px solid;
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 1px;
}
.nav {
	/* padding-left: 0;
  margin-bottom: 0;*/
	list-style: none;
}
.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;/*  background-color: #eee;*/
}
.nav > li.disabled > a {
	color: #999;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
	color: #999;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
/* background-color: #eee;
  border-color: #428bca;*/
}
.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.nav > li > a > img {
	max-width: none;
}
.nav-tabs {
	border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: 1px solid transparent;
}
body#index .navbar {
	margin-bottom: 20px
}
.navbar-collapse {
	/*max-height: 340px;*/
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
	overflow-y: auto;
}
/*.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}*/




.navbar-toggle {
	position: relative;
	float: left;
	padding: 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: none;
	border-radius: 4px;
}
.navbar-toggle:focus {
	outline: none;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 50px;/*22*/
	height: 5px;
	border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
@media screen and (min-device-width: 481px) {
.navbar-toggle {
	display: none;
}
.navbar-header {
	float: left;
}
.navbar-nav > li {
	float: left;
}
.container > .navbar-header,  .container-fluid > .navbar-header,  .container > .navbar-collapse,  .container-fluid > .navbar-collapse {
	margin-right: 0;
	margin-left: 0;
}
.navbar-collapse {
	width: auto;
	border-top: 0;
	box-shadow: none;
}
.navbar-collapse.collapse {
	display: block ;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}
.navbar-collapse.in {
	overflow-y: visible;
}
.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}
.navbar-brand:hover, .navbar-brand:focus {
	text-decoration: none;
}
}
.navbar-nav {
/*margin: 7.5px -15px;*/
}
.navbar-nav > li > a {
	/* padding-top: 10px;*/
	padding-bottom: 10px;
	line-height: 20px;
}

@media screen and (min-device-width: 481px) {
.navbar-nav {
	float: left;
	margin: 0;
}
.navbar-nav > li {
	height: 50px
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-nav.navbar-right:last-child {
	margin-right: -15px;
}

}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.navbar-default {
/*  background-color: #f8f8f8;
  border-color: #e7e7e7;*/
}
.navbar-default .navbar-nav > li > a {
	color: #777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #333;/* background-color: transparent;*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #555;
	background-color: #0177A4;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
	color: #ccc;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: #ddd;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
/*  background-color: #ddd;*/
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
/* border-color: #e7e7e7;*/
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #555;
	background-color: #e7e7e7;
}
nav.navbar.navbar-default .container {
	padding-left: 0;
	padding-right: 0
}
}



 @media screen and (max-width: 788px)
 
 {
	 
	 
	.navbar-nav {
	float: left;
	margin: 0;
}
.navbar-nav > li {
	height: 50px
}
.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-nav.navbar-right:last-child {
	margin-right: -15px;
} 
	 
	 
	 
.navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none;
}
.navbar-nav .open .dropdown-menu > li > a,  .navbar-nav .open .dropdown-menu .dropdown-header {
/* padding: 5px 15px 5px 25px;*/
}
.navbar-nav .open .dropdown-menu > li > a {
	line-height: 20px;
}
.navbar-nav .open .dropdown-menu > li > a:hover,  .navbar-nav .open .dropdown-menu > li > a:focus {
	background-image: none;
}
.nav > li > a {
	height: 60px;
	line-height: 45px
}
.nav > li > a .caret {
	display: block !important
}
.nav > li:first-child > a {
	display: none !important
}
.dropdown-menu > li > a {
	line-height: 64px !important;
}
.navbar-default {
	background: #45ccff !important;
}
.container ul {
	margin-left: 0 !important
}
.navbar-collapse {
	padding: 0 !important
}
.navbar-default {
	min-height: 70px !important;
}
.dropdown-menu > li > a {
	line-height: 64px !important
}
.nav > li > a {
	font-size: 40px !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #777;
	font-size: 26px;
	background: #fea533;
	border-bottom: 1px solid #fff;
	padding-left: 60px
}
.container ul {
	margin-left: 0
}
.nav > li {
	display: inline
}
.navbar-collapse {
	padding-left: 0 !important;
	padding-right: 0 !important
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	background: #ff7e15;
	text-decoration: none !important
}
.navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a {
	background: #ffb453;
	display: block;
	color: #fff;
	border-bottom: 1px solid #fff;
	height: 50px;
	line-height: 50px;
	font-family: 'ubunturegular';
	font-size: 26px;
	padding-left: 100px;
}
.navbar-default {
	background: #45ccff !important;
	min-height: 70px !important
}
.visible-xs {
	display: block !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > ul > li > a:hover {
	background: #ff7e15;
	text-decoration: none !important
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #333;/*   background-color: transparent;*/
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #555;
	background-color: #e7e7e7;
}
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
	color: #ccc;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover {
	background: #018abd
}
.nav > li > a {
	font-size: 26px !important;
}	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 }


























