/*STYLE ENIGME*/
/*+clearfix {*/
SPAN.text-center:after, DIV.sup-header:after, DIV.affix-top DIV.sub-menu-collection.text-center:after, DIV.filtre-collection:after, DIV.footer:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
SPAN.text-center, DIV.sup-header, DIV.affix-top DIV.sub-menu-collection.text-center, DIV.filtre-collection, DIV.footer
{
	display: inline-block;
}
SPAN.text-center, DIV.sup-header, DIV.affix-top DIV.sub-menu-collection.text-center, DIV.filtre-collection, DIV.footer
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
BODY
{
	margin: 0;
	font-family: "Droid Sans", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #000000;
}
BODY.enseignant DIV.warpper
{
	background: #202020;
}
/*[clearfix]*/SPAN.text-center
{
}
.background-event
{
	border: 1px solid #000000;
	height: 1515px;
	background: url(../img/bg-event.jpg);
	position: fixed;
}
DIV.warpper
{
	margin-right: auto;
	margin-left: auto;
	=zoom: 1;
	background: transparent url(../img/warpper.png) repeat-y center center;
}
.img-responsive
{
	display: block;
	height: auto;
	max-width: 100%;
}
HR
{
	margin: 20px 0px;
	border: 0;
	border-top: 0px solid #EEEEEE;
	border-bottom: 0px solid #FFFFFF;
	height: 50px;
	background: url(../img/hr.png) no-repeat center center;
}
.video-container
{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 0px;
}
.video-container IFRAME, .video-container OBJECT, .video-container EMBED
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
UL.liste-jaune
{
	padding: 0;
	margin: 0px 0px 10px;
	border: 0px solid #FFFFFF;
	list-style: none;
}
UL.liste-jaune LI
{
	line-height: 20px;
	border: 0px solid #000000;
	padding-left: 20px;
	background: url(../img/puce-jaune.png) no-repeat 5px 5px;
}
/*MODALE*/
.modal
{
	top: 10%;
	left: 50%;
	width: 740px;
	margin-left: -370px;
	background-color: #333333;
	border: 1px solid #000000;
	border: 1px solid rgba(0, 0, 0, 0.3);
	=border: 1px solid #000000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
.modal.connexion .input-block-level
{
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.modal.connexion .modal-body
{
	position: relative;
	padding: 10px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.modal.connexion .bloc-modale
{
	padding: 0px;
	margin-bottom: 0px;
}
.modal.connexion .modal-header
{
	padding: 10px 15px 5px;
	border-bottom: 1px solid #000000;
}
DIV.modal-header IMG.align-left
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	padding-right: 10px;
}
.modal.connexion .modal-header H3
{
	margin: 0;
	line-height: 1.5;
	font-size: 20px;
	min-height: 40px;
	border: 0px solid #000000;
}
.modal.connexion .close
{
	float: right;
	font-size: 45px;
	font-weight: bold;
	line-height: 30px;
	color: #FFE400;
	text-shadow: 0 1px 0 #000000;
	opacity: 1;
	filter: alpha(opacity=100);
}
.modal.connexion .close:hover, .modal.connexion .close:focus
{
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
}
.modal.connexion .modal-footer
{
	padding: 5px;
	margin-bottom: 0;
	text-align: right;
	background-color: #333333;
	border-top: 0px solid #000000;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	=zoom: 1;
	-webkit-box-shadow: inset 0 0px 0 #000000;
	-moz-box-shadow: inset 0 0px 0 #000000;
	box-shadow: inset 0 0px 0 #000000;
}
.modal.connexion .form-horizontal .control-group
{
	margin-bottom: 10px;
	=zoom: 1;
}
.modal.connexion .form-horizontal .control-group:before, .modal.connexion .form-horizontal .control-group:after
{
	display: table;
	line-height: 0;
	content: "";
}
.modal.connexion .form-horizontal .control-group:after
{
	clear: both;
}
.modal.connexion .form-horizontal .control-label
{
	float: left;
	width: 135px;
	padding-top: 5px;
	text-align: right;
}
.modal.connexion .form-horizontal .controls
{
	=display: inline-block;
	=padding-left: 20px;
	margin-left: 142px;
	=margin-left: 0;
}
.modal.connexion .form-horizontal .controls:first-child
{
	=padding-left: 180px;
}
.modal.connexion .form-horizontal .help-block
{
	margin-bottom: 0;
}
.modal.connexion .form-horizontal INPUT + .help-block, .modal.connexion .form-horizontal SELECT + .help-block, .form-horizontal TEXTAREA + .help-block, .form-horizontal .uneditable-input + .help-block, .form-horizontal .input-prepend + .help-block, .form-horizontal .input-append + .help-block
{
	margin-top: 10px;
}
.modal.connexion .form-horizontal .form-actions
{
	padding-left: 180px;
}
/*MODALE CONCOURS*/
.modal.modconcours
{
	width: 940px;
	margin-left: -470px;
}
.modal.modconcours .input-block-level
{
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.modal.modconcours .modal-body
{
	position: relative;
	padding: 10px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.modal.modconcours .bloc-modale
{
	padding: 0px;
	margin-bottom: 0px;
}
.modal.modconcours .modal-header
{
	padding: 10px 15px 5px;
	border-bottom: 1px solid #000000;
}
.modal.modconcours .modal-header H3
{
	margin: 0;
	line-height: 1.5;
	font-size: 20px;
	min-height: 40px;
	border: 0px solid #000000;
}
.modal.modconcours .close
{
	float: right;
	font-size: 45px;
	font-weight: bold;
	line-height: 30px;
	color: #FFE400;
	text-shadow: 0 1px 0 #000000;
	opacity: 1;
	filter: alpha(opacity=100);
}
.modal.modconcours .close:hover, .modal.modconcours .close:focus
{
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
}
.modal.modconcours .modal-footer
{
	padding: 5px;
	margin-bottom: 0;
	text-align: right;
	background-color: #333333;
	border-top: 0px solid #000000;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	=zoom: 1;
	-webkit-box-shadow: inset 0 0px 0 #000000;
	-moz-box-shadow: inset 0 0px 0 #000000;
	box-shadow: inset 0 0px 0 #000000;
	margin: 0px;
}
/*TEXTE*/
.blanc
{
	color: #FFFFFF;
}
.jaune
{
	color: #FFE400;
}
.vert
{
	color: #00BF00;
	/*+text-shadow:0px 0px 10px #005900;*/
	-moz-text-shadow: 0px 0px 10px #005900;
	-webkit-text-shadow: 0px 0px 10px #005900;
	-o-text-shadow: 0px 0px 10px #005900;
	text-shadow: 0px 0px 10px #005900;
}
.rouge
{
	color: #FF1F1F;
}
/*Back to top button
*/
#back-top
{
	position: fixed;
	bottom: 75px;
	right: 20px;
	border: 0px solid #FFFFFF;
}
#back-top A
{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #BBB;
	/*background color transition*/
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top A:hover
{
	color: #000;
}
/*arrow icon (span tag)*/
#back-top SPAN
{
	width: 56px;
	height: 56px;
	display: block;
	background: #585858 url(../img/totop.png) no-repeat center center;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
	/*+border-radius:50px;*/
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	border: 5px solid #000000;
}
#back-top A:hover SPAN
{
	background-color: #FFE400;
	/*+box-shadow:0px 0px 10px #FFF38C;*/
	-moz-box-shadow: 0px 0px 10px #FFF38C;
	-webkit-box-shadow: 0px 0px 10px #FFF38C;
	-o-box-shadow: 0px 0px 10px #FFF38C;
	box-shadow: 0px 0px 10px #FFF38C;
}
/*TEST FONTS*/
P.texte
{
	font-size: 2em;
	line-height: 1.5;
}
.mister-earl
{
	font-family: misterearl_btregular, sans-serif;
}
.londrina
{
	font-family: "Londrina Solid", cursive;
}
.droid
{
	font-family: "Droid Sans", sans-serif;
}
/*LIENS*/
A
{
	color: #FFE400;
	text-decoration: none;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}
A:hover, A:focus
{
	color: #FFFFFF;
	text-decoration: underline;
}
/*SUP HEADER*/
/*[clearfix]*/DIV.sup-header
{
	border: 0px solid #000000;
	background: #333333;
	background: -moz-linear-gradient(top, #333333 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #333333 0%,#000000 100%);
	background: -o-linear-gradient(top, #333333 0%,#000000 100%);
	background: -ms-linear-gradient(top, #333333 0%,#000000 100%);
	background: linear-gradient(to bottom, #333333 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 );
}
DIV.sup-link-left
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
DIV.contenu-site DIV.sup-link-right P
{
	padding: 0px 10px 10px 0px;
}
UL.inline.sup-links
{
	margin-left: 0;
	list-style: none;
	border: 0px solid #FFFFFF;
	height: 40px;
	margin: 0px;
	padding: 0px;
}
UL.inline.sup-links A
{
	border: 0px solid #FFFFFF;
	text-transform: uppercase;
	font-size: 12px;
}
UL.inline.sup-links A:hover
{
	text-decoration: none;
}
UL.inline.sup-links > LI
{
	display: inline-block;
	=display: inline;
	padding-right: 10px;
	padding-left: 10px;
	=zoom: 1;
	border-right: 1px solid #010101;
	height: 40px;
	line-height: 2.6;
}
DIV.sup-link-right
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
}
DIV.footer DIV.sup-link-right P
{
	padding: 0px;
	margin: 0px;
}
UL.inline.connect
{
	margin-left: 0;
	list-style: none;
	border: 0px solid #FFFFFF;
	height: 40px;
	margin: 0px;
	padding: 0px;
}
UL.inline.connect A
{
	border: 0px solid #FFFFFF;
	text-transform: uppercase;
	font-size: 16px;
	width: 70px;
	height: 20px;
	display: block;
	font-family: misterearl_btregular, sans-serif;
	text-align: right;
	color: #010101;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 10px;
	margin: 8px 5px 0px;
	line-height: 1.5;
	background: #FFE400 url(../img/icons.png) no-repeat 8px 4px;
}
UL.inline.connect A:hover
{
	background: #FFFFFF url(../img/icons.png) no-repeat 8px 4px;
	text-decoration: none;
}
UL.inline.connect A.deconnexion
{
	border: 0px solid #FFFFFF;
	text-transform: uppercase;
	font-size: 16px;
	width: 70px;
	height: 20px;
	display: block;
	font-family: misterearl_btregular, sans-serif;
	text-align: right;
	color: #010101;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 10px 2px 20px;
	margin: 8px 5px 0px;
	line-height: 1.5;
	background: #FFE400 url(../img/icons.png) no-repeat 8px 4px;
}
UL.inline.connect A:hover
{
	background: #FFFFFF url(../img/icons.png) no-repeat 8px 4px;
	text-decoration: none;
}
UL.inline.connect > LI
{
	display: inline-block;
	=display: inline;
	padding-right: 5px;
	padding-left: 5px;
	=zoom: 1;
	border-right: 0px solid #010101;
	height: 40px;
	line-height: 2.6;
}
UL.principale LI
{
	margin: 0px 10px 0px 0px;
}
DIV#preloaded-images
{
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}
/*MID HEADER*/
DIV.mid-header
{
	background-color: #FFE400;
	text-align: center;
	background-image: url(../img/header_bg_left.png), url(../img/header_bg_right.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left center, right center;
}
DIV.mid-header.mobile
{
	background-color: #202020;
	background-image: none;
}
A.logo-engime
{
}
/*CONTENU*/
DIV.bloc-menu
{
	height: 54px;
	border: 0px solid #000000;
}
DIV.contenu-site
{
	background-color: #262626;
}
DIV.top-collection
{
	padding-top: 20px;
}
DIV.top-choix
{
	padding-top: 0px;
}
DIV.affix
{
	top: 0px;
	width: 100%;
	z-index: 20;
}
DIV.menu-deux
{
	border: 0px solid #000000;
	height: 50px;
	margin-top: 0;
	margin-bottom: -50px;
}
/*[clearfix]*/DIV.affix-top DIV.sub-menu-collection.text-center
{
	border: 0px solid #000000;
	background-color: transparent;
	margin: 0px;
	padding: 0px 10px 10px;
}
DIV.affix DIV.sub-menu-collection.text-center
{
	border: 0px solid #000000;
	background-color: #202020;
	background: -moz-linear-gradient(top, rgba(32,32,32,1) 50%, rgba(32,32,32,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(32,32,32,1)), color-stop(100%,rgba(32,32,32,0)));
	background: -webkit-linear-gradient(top, rgba(32,32,32,1) 50%,rgba(32,32,32,0) 100%);
	background: -o-linear-gradient(top, rgba(32,32,32,1) 50%,rgba(32,32,32,0) 100%);
	background: -ms-linear-gradient(top, rgba(32,32,32,1) 50%,rgba(32,32,32,0) 100%);
	background: linear-gradient(to bottom, rgba(32,32,32,1) 50%,rgba(32,32,32,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#00202020',GradientType=0 );
	margin: 0px;
	padding: 10px;
}
.btn.bt-enigme
{
	font-family: "Londrina Solid", cursive;
	font-size: 1.6em;
	border: 4px solid #000000;
	background: #4C4C4C;
	background: -moz-linear-gradient(top, #4c4c4c 0%, #353535 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#353535));
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#353535 100%);
	background: -o-linear-gradient(top, #4c4c4c 0%,#353535 100%);
	background: -ms-linear-gradient(top, #4c4c4c 0%,#353535 100%);
	background: linear-gradient(to bottom, #4c4c4c 0%,#353535 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#353535',GradientType=0 );
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #FFE400;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	padding: 8px 12px;
	text-transform: uppercase;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}
LI.active A.btn.bt-enigme
{
	/*[disabled]border:4px solid #FFE400;*/
}
.btn.bt-enigme:hover
{
	color: #FFE400;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.75);
	border: 4px solid #FFE400;
}
DIV.sub-menu-collection.text-center UL.inline
{
	padding: 0px;
	margin: 0px;
}
DIV.indices
{
	color: #010101;
	padding: 0px 10px 10px;
	background: #FFE400 url(../img/bg-indices.png) no-repeat bottom right;
	min-height: 280px;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	/*+text-shadow:0px 1px #FFF38C;*/
	-moz-text-shadow: 0px 1px #FFF38C;
	-webkit-text-shadow: 0px 1px #FFF38C;
	-o-text-shadow: 0px 1px #FFF38C;
	text-shadow: 0px 1px #FFF38C;
	margin-bottom: 20px;
}
DIV.indices A.bt-indice IMG
{
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
	opacity: 0.8;
}
DIV.indices A.bt-indice:hover IMG
{
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
	opacity: 1;
	margin-top: 0px;
}
DIV.indices P.accroche
{
	font-size: 32px;
	font-weight: normal;
	line-height: 1.2;
	padding-top: 10px;
	font-family: "Lilita One", cursive;
	margin: 0px;
}
/*[clearfix]*/DIV.filtre-collection
{
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #000000;
	background: #18181A url(../img/bg-filtre.png) no-repeat bottom right;
}
DIV.filtre-collection DIV.selection
{
	border: 0px solid #FFFFFF;
	margin: 20px;
}
BUTTON.valide
{
	display: inline-block;
	=display: inline;
	margin-bottom: 0;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: transparent;
	border: 0px solid #CCCCCC;
	opacity: 0.9;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
BUTTON.valide:hover
{
	opacity: 1;
}
/*FORMULAIRE JE CHOISIS*/
FORM.filtre-collection-form LABEL
{
	font-size: 12px;
}
FORM.indices-form LABEL
{
	font-size: 14px;
}
FORM.indices-form LABEL.erreur
{
	color: #FF1F1F;
	font-weight: bold;
}
FORM.indices-form LABEL.success
{
	color: #00BF00;
	font-weight: bold;
}
/*CHECKBOX*/
[type="checkbox"]:not(:checked), [type="checkbox"]:checked
{
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + LABEL, [type="checkbox"]:checked + LABEL
{
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	padding-top: 2px;
	z-index: 5;
}
/*checkbox aspect*/
[type="checkbox"]:not(:checked) + LABEL:before, [type="checkbox"]:checked + LABEL:before
{
	content: '';
	position: absolute;
	left: 0px;
	top: 1px;
	width: 15px;
	height: 15px;
	border: 3px solid #000000;
	background: #FFE400;
	/*+border-radius:14px;*/
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-khtml-border-radius: 14px;
	border-radius: 14px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
[type="checkbox"]:not(:checked) + LABEL:before
{
	background: #313133;
}
/*checked mark aspect*/
[type="checkbox"]:not(:checked) + LABEL:after, [type="checkbox"]:checked + LABEL:after
{
	content: '✔';
	position: absolute;
	top: 0px;
	left: 4px;
	font-size: 17px;
	color: #000000;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
	font-weight: bold;
}
/*checked mark aspect changes*/
[type="checkbox"]:not(:checked) + LABEL:after
{
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
[type="checkbox"]:checked + LABEL:after
{
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
/*disabled checkbox*/
[type="checkbox"]:disabled:not(:checked) + LABEL:before, [type="radio"]:disabled:checked + LABEL:before
{
	box-shadow: none;
	border-color: #BBB;
	background-color: #DDD;
}
[type="checkbox"]:disabled:checked + LABEL:after
{
	color: #999;
}
[type="checkbox"]:disabled + LABEL
{
	color: #AAA;
}
/*accessibility*/
[type="checkbox"]:checked:focus + LABEL:before, [type="checkbox"]:not(:checked):focus + LABEL:before
{
	border: 3px solid #000000;
}
/*RADIO*/
[type="radio"]:not(:checked), [type="radio"]:checked
{
	position: absolute;
	left: -9999px;
}
[type="radio"]:not(:checked) + LABEL, [type="radio"]:checked + LABEL
{
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	padding-top: 2px;
	z-index: 5;
}
/*checkbox aspect*/
[type="radio"]:not(:checked) + LABEL:before, [type="radio"]:checked + LABEL:before
{
	content: '';
	position: absolute;
	left: 0px;
	top: 1px;
	width: 15px;
	height: 15px;
	border: 3px solid #000000;
	background: #FFE400;
	/*+border-radius:14px;*/
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-khtml-border-radius: 14px;
	border-radius: 14px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
[type="radio"]:not(:checked) + LABEL:before
{
	background: #313133;
}
[type="radio"].success:checked + LABEL:before
{
	content: '';
	position: absolute;
	left: 0px;
	top: 1px;
	width: 15px;
	height: 15px;
	border: 3px solid #000000;
	background: #00BF00;
	/*+border-radius:14px;*/
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-khtml-border-radius: 14px;
	border-radius: 14px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
[type="radio"].erreur:checked + LABEL:before
{
	content: '';
	position: absolute;
	left: 0px;
	top: 1px;
	width: 15px;
	height: 15px;
	border: 3px solid #000000;
	background: #FF1F1F;
	/*+border-radius:14px;*/
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	-khtml-border-radius: 14px;
	border-radius: 14px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
/*checked mark aspect*/
[type="radio"]:not(:checked) + LABEL:after, [type="radio"]:checked + LABEL:after
{
	content: '✔';
	position: absolute;
	top: 0px;
	left: 4px;
	font-size: 17px;
	color: #000000;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
	font-weight: bold;
}
/*checked mark aspect changes*/
[type="radio"]:not(:checked) + LABEL:after
{
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
[type="radio"]:checked + LABEL:after
{
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
/*disabled checkbox*/
[type="radio"]:disabled:not(:checked) + LABEL:before, [type="radio"]:disabled:checked + LABEL:before
{
	box-shadow: none;
	border-color: #000000;
	background-color: #4C4C4C;
}
[type="radio"]:disabled:checked + LABEL:after
{
	color: #4C4C4C;
}
[type="radio"]:disabled + LABEL
{
	color: #4C4C4C;
}
/*accessibility*/
[type="radio"]:checked:focus + LABEL:before, [type="radio"]:not(:checked):focus + LABEL:before
{
	border: 3px solid #000000;
}
/*- - FIL DARIANNE*/
DIV.fil-arianne
{
}
UL.inline.bread-crump
{
	margin-left: 0;
	list-style: none;
	border: 0px solid #FFFFFF;
	margin: 0px 0px 10px;
	padding: 0px;
	font-size: 11px;
	font-weight: bold;
}
UL.inline.bread-crump A
{
	border: 0px solid #FFFFFF;
	font-weight: normal;
}
UL.inline.bread-crump A:hover
{
	text-decoration: none;
}
UL.inline.bread-crump > LI
{
	display: inline-block;
	=display: inline;
	padding-right: 2px;
	padding-left: 2px;
	=zoom: 1;
	border-right: 0px solid #010101;
	line-height: 2.4;
}
/*- - MENU PRINCIPAL*/
.navbar
{
	=position: relative;
	=z-index: 2;
	margin-bottom: 10px;
	overflow: visible;
}
DIV.bloc-degrade
{
	background: #202020;
	background: -moz-linear-gradient(top, #202020 0%, #2b2b2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(100%,#2b2b2b));
	background: -webkit-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: -o-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: -ms-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: linear-gradient(to bottom, #202020 0%,#2b2b2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#2b2b2b',GradientType=0 );
	padding: 10px;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	/*+text-shadow:0px 1px #010101;*/
	-moz-text-shadow: 0px 1px #010101;
	-webkit-text-shadow: 0px 1px #010101;
	-o-text-shadow: 0px 1px #010101;
	text-shadow: 0px 1px #010101;
}
DIV.bloc-degrade .media
{
	margin-top: 20px;
}
DIV.bloc-degrade2
{
	background: #202020;
	background: -moz-linear-gradient(top, #202020 0%, #2b2b2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(100%,#2b2b2b));
	background: -webkit-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: -o-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: -ms-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: linear-gradient(to bottom, #202020 0%,#2b2b2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#2b2b2b',GradientType=0 );
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	/*+text-shadow:0px 1px #010101;*/
	-moz-text-shadow: 0px 1px #010101;
	-webkit-text-shadow: 0px 1px #010101;
	-o-text-shadow: 0px 1px #010101;
	text-shadow: 0px 1px #010101;
}
.min-height-270
{
	min-height: 270px;
}
DIV.bloc-degrade.concours
{
	/*[empty]height:;*/
}
DIV.contenu-site H1
{
	font-family: "Londrina Solid", cursive;
	font-weight: normal;
	font-size: 30px;
	color: #FFE400;
	text-transform: uppercase;
	margin: 0px 0px 10px;
}
DIV.contenu-site H2.special
{
	color: #010101;
	font-family: "Londrina Solid", cursive;
	text-transform: uppercase;
	margin: 0px 0px 10px;
	font-size: 30px;
	font-weight: normal;
}
DIV.contenu-site DIV.nouveautes H2
{
	font-family: "Londrina Solid", cursive;
	font-weight: normal;
	font-size: 30px;
	color: #FFE400;
	text-transform: uppercase;
	padding: 0px 0px 10px;
}
DIV.contenu-site DIV.jeux-concours H2
{
	font-family: "Londrina Solid", cursive;
	font-weight: normal;
	font-size: 30px;
	color: #FFE400;
	text-transform: uppercase;
	padding: 0px 0px 10px;
}
DIV.contenu-site DIV.filtre-collection H1
{
	font-size: 32px;
	color: #FFFFFF;
	margin: 10px 20px;
	text-transform: none;
	font-weight: normal;
}
DIV.contenu-site DIV.filtre-collection H2
{
	font-family: "Londrina Solid", cursive;
	font-size: 32px;
	color: #FFFFFF;
	margin: 10px 20px;
	text-transform: none;
	font-weight: normal;
}
DIV.top-collection H1
{
	font-size: 38px;
	color: #FFE400;
	margin-bottom: 15px;
}
DIV.contenu-site DIV.enseignant H1
{
	font-size: 40px;
	color: #FFFFFF;
	margin: 0px 0px 10px;
	text-transform: uppercase;
	font-weight: normal;
}
DIV.contenu-site DIV.enseignant H5, DIV.contenu-site DIV.filtre-collection H5
{
	font-family: "Londrina Solid", cursive;
	font-size: 22px;
	color: #FFE400;
	margin: 10px 20px;
	text-transform: none;
	font-weight: normal;
	line-height: 1;
	height: 40px;
}
DIV.contenu-site DIV.enseignant H2
{
	font-family: "Londrina Solid", cursive;
	font-size: 32px;
	color: #FFE400;
	margin-bottom: 15px;
	font-weight: normal;
	padding: 0;
}
DIV.contenu-site DIV.enseignant H3
{
	font-family: "Londrina Solid", cursive;
	font-size: 26px;
	color: #FFFFFF;
	margin-bottom: 10px;
	font-weight: normal;
	margin-top: 0px;
}
DIV.contenu-site H4
{
	font-size: 22px;
	color: #FFE400;
	line-height: normal;
}
DIV.contenu-site H2
{
	font-weight: bold;
	font-size: 24px;
	color: #FFE400;
	padding: 0px 0px 10px;
	margin: 0px;
	line-height: normal;
}
DIV.bloc-degrade.jeux-concours P.text-center.accroche
{
	font-size: 18px;
	line-height: 1.6;
	border: 0px solid #000000;
	padding-top: 25px;
	padding-bottom: 25px;
	height: 120px;
	margin: 0px;
}
P.lead
{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	line-height: normal;
}
P.lead.big
{
	font-family: "Londrina Solid", cursive;
	font-size: 2.4em;
	font-weight: normal;
}
DIV.bloc-degrade.jeux-concours P.text-center.accroche SPAN
{
	font-size: 24px;
	font-weight: bold;
	color: #FFE400;
	line-height: normal;
}
DIV.bt-bottom
{
	margin: 0px -10px -10px;
	padding: 15px 0px 0px;
	border: 0px solid #FFE400;
	text-align: center;
	background: transparent url(../img/bt-bottom.png) no-repeat center bottom;
	height: 50px;
	/*+text-shadow:0px 1px #FFF38C;*/
	-moz-text-shadow: 0px 1px #FFF38C;
	-webkit-text-shadow: 0px 1px #FFF38C;
	-o-text-shadow: 0px 1px #FFF38C;
	text-shadow: 0px 1px #FFF38C;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
DIV.bt-bottom A
{
	opacity: 1;
}
DIV.bt-bottom:hover
{
	background: transparent url(../img/bt-bottom-on.png) no-repeat center bottom;
}
DIV.bt-bottom A
{
	font-family: "Londrina Solid", cursive;
	color: #010101;
	text-align: center;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	text-transform: uppercase;
}
/*OUVRAGES*/
DIV.ouvrage
{
	border: 0px solid #000000;
	padding: 10px 5px 15px 10px;
	margin: 0px 0px 20px;
	background: #202020;
	background: -moz-linear-gradient(top, #202020 0%, #2b2b2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(100%,#2b2b2b));
	background: -webkit-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: -o-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: -ms-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: linear-gradient(to bottom, #202020 0%,#2b2b2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#2b2b2b',GradientType=0 );
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	height: 290px;
}
DIV.ouvrage .bloc-titre H4
{
	font-family: "Londrina Solid", cursive;
	font-size: 18px;
	color: #FFF;
	font-weight: normal;
	text-decoration: none;
}
DIV.ouvrage H4
{
	padding: 0px;
	line-height: 1;
}
DIV.ouvrage H5
{
	margin: 0px;
	padding: 0px;
	line-height: normal;
	font-weight: normal;
}
DIV.ouvrage DIV.bloc-titre
{
	padding: 10px 0px 0px;
}
DIV.ouvrage DIV.bloc-titre A
{
	font-family: "Londrina Solid", cursive;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
}
DIV.ouvrage DIV.bloc-titre A:hover
{
	font-family: "Londrina Solid", cursive;
	font-size: 18px;
	color: #FFE400;
	font-weight: normal;
	text-decoration: none;
}
DIV.ouvrage DIV.bloc-couv
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 65%;
}
DIV.ouvrage DIV.bloc-item
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
UL.unstyled.liste-item
{
	border: 0px solid #FFFFFF;
	margin: 0px;
}
UL.unstyled.liste-item LI
{
	border: 0px solid #FFFFFF;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 5px;
}
UL.unstyled.liste-item LI A.bt-item
{
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -5000em;
	border: 3px solid #000000;
	/*+border-radius:30px;*/
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	background-color: #FFE400;
}
UL.unstyled.liste-item LI A.bt-item:hover
{
	background-color: #FFFFFF;
	/*+box-shadow:0px 0px 5px #FFFFFF;*/
	-moz-box-shadow: 0px 0px 5px #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px #FFFFFF;
	-o-box-shadow: 0px 0px 5px #FFFFFF;
	box-shadow: 0px 0px 5px #FFFFFF;
}
A.bt-item.cart
{
	background: #FFE400 url(../img/icons-ouvrage.png) 0px 0px;
}
A.bt-item.livre
{
	background: #FFE400 url(../img/icons-ouvrage.png) 1px -39px;
}
A.bt-item.indice
{
	background: #FFE400 url(../img/icons-ouvrage.png) 0px -79px;
}
A.bt-item.podcast
{
	background: #FFE400 url(../img/icons-ouvrage.png) 1px -119px;
}
/*ENSEIGNANT*/
DIV.concours
{
	/*[empty]background-color:;*/
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 60px;
	background: url(../img/bot-left-concours.png) no-repeat bottom left, #202020 url(../img/bot-right-concours.png) no-repeat bottom right;
}
DIV.concours DIV.bloc-edition
{
	border: 0px solid #000000;
}
DIV.ressources
{
	background: url(../img/bot-left-ressources.png) no-repeat bottom left, #262626 url(../img/bot-right-ressources.png) no-repeat bottom right;
	padding-top: 80px;
	padding-bottom: 60px;
}
DIV.ressources.modifheader
{
	border: 0;
}
DIV.commerciale
{
	padding-top: 80px;
	padding-bottom: 670px;
	background: url(../img/bot-left-concours.png) no-repeat bottom left, #1A1A1A url(../img/bot-right-concours.png) no-repeat bottom right;
}
DIV.fiche-pedagogique
{
	border: 0px solid #000000;
	border-bottom: 1px solid #313133;
	margin-bottom: 10px;
}
DIV.contenu-site DIV.fiche-pedagogique H2
{
	border: 0px solid #000000;
	font-size: 1.2em;
	padding: 0px;
	margin: 0px 0px 5px;
	color: #FFFFFF;
	line-height: 1.5;
	font-family: "Droid Sans", sans-serif;
	/*[empty]font-family:;*/
	font-weight: bold;
}
DIV.fiche-pedagogique A
{
	border: 0px solid #000000;
	padding-left: 15px;
	background: transparent url(../img/puce-jaune.png) no-repeat 0px 4px;
}
/*INDICES*/
DIV.bloc-question
{
	margin-bottom: 25px;
}
DIV.item-cadeaux
{
	border: 0px solid #000000;
	padding: 10px 10px 5px;
	margin: 0px 0px 20px;
	background: #202020;
	background: -moz-linear-gradient(top, #202020 0%, #2b2b2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(100%,#2b2b2b));
	background: -webkit-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: -o-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: -ms-linear-gradient(top, #202020 0%,#2b2b2b 100%);
	background: linear-gradient(to bottom, #202020 0%,#2b2b2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#2b2b2b',GradientType=0 );
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
DIV.item-cadeaux H5.text-center
{
	height: 2.5em;
}
DIV.item-cadeaux DIV.bloc-titre
{
	/*[disabled]padding:10px 0px 0px;*/
}
DIV.item-cadeaux DIV.bloc-titre A
{
	/*[disabled]font-family:"Londrina Solid", cursive;*/
	/*[disabled]font-size:18px;*/
	/*[disabled]color:#FFFFFF;*/
	/*[disabled]font-weight:normal;*/
	/*[disabled]text-decoration:none;*/
}
DIV.item-cadeaux DIV.bloc-titre A:hover
{
	/*[disabled]font-family:"Londrina Solid", cursive;*/
	/*[disabled]font-size:18px;*/
	/*[disabled]color:#FFE400;*/
	/*[disabled]font-weight:normal;*/
	/*[disabled]text-decoration:none;*/
}
DIV.item-cadeaux DIV.bloc-couv
{
	/*[disabled]+placement:float-left 0px 0px;*/
	/*[disabled]width:65%;*/
}
DIV.item-cadeaux DIV.bloc-item
{
	/*[disabled]+placement:float-left 0px 0px;*/
}
/*PODCAST*/
.question-podcast.form-horizontal .control-label
{
	float: left;
	width: 260px;
	padding-top: 5px;
	text-align: left;
}
FORM.question-podcast
{
	margin: 0;
	padding: 0;
}
LABEL.lead
{
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
}
/*FOOTER*/
/*[clearfix]*/DIV.footer
{
	background-color: #000000;
	border-top: 1px solid #585858;
	padding-top: 1em;
	padding-bottom: 1em;
}
BODY.enseignant DIV.footer
{
}
DIV.footer P
{
	font-size: 11px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
DIV.footer P A.logo-footer
{
	border: 0px solid #FFFFFF;
	display: block;
}
DIV.footer P A
{
	color: #FFFFFF;
}
DIV.footer P A:hover
{
	color: #FFE400;
}
