



@font-face {
    font-family: 'misterearl_btregular';
    src: url('../fonts/mister_earl_bt-webfont.eot');
    src: url('../fonts/mister_earl_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mister_earl_bt-webfont.woff') format('woff'),
         url('../fonts/mister_earl_bt-webfont.ttf') format('truetype'),
         url('../fonts/mister_earl_bt-webfont.svg#misterearl_btregular') format('svg');
    font-weight: normal;
    font-style: normal;

}