/*+clearfix {*/
DIV.sup-header:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
DIV.sup-header
{
	display: inline-block;
}
DIV.sup-header
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
@media (max-width: 767px)
{
	BODY
	{
		padding-right: 20px;
		padding-left: 20px;
		background: #292929;
		background-image: none;
	}
	DIV.warpper
	{
		background: #202020;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top
	{
		margin-right: -20px;
		margin-left: -20px;
	}
	.container-fluid
	{
		padding: 0;
	}
	.dl-horizontal DT
	{
		float: none;
		width: auto;
		clear: none;
		text-align: left;
	}
	.dl-horizontal DD
	{
		margin-left: 0;
	}
	.container
	{
		width: auto;
	}
	.row-fluid
	{
		width: 100%;
	}
	.row, .thumbnails
	{
		margin-left: 0;
	}
	.thumbnails > LI
	{
		float: none;
		margin-left: 0;
	}
	[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"]
	{
		display: block;
		float: none;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.span12, .row-fluid .span12
	{
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row-fluid [class*="offset"]:first-child
	{
		margin-left: 0;
	}
	.input-large, .input-xlarge, .input-xxlarge, INPUT[class*="span"], SELECT[class*="span"], TEXTAREA[class*="span"], .uneditable-input
	{
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.input-prepend INPUT, .input-append INPUT, .input-prepend INPUT[class*="span"], .input-append INPUT[class*="span"]
	{
		display: inline-block;
		width: auto;
	}
	.controls-row [class*="span"] + [class*="span"]
	{
		margin-left: 0;
	}
	.modal
	{
		position: fixed;
		top: 20px;
		right: 20px;
		left: 20px;
		width: auto;
		margin: 0;
	}
	.modal.modconcours
	{
		width: auto;
		margin-left: initial;
	}
	.modal.connexion .modal-body
	{
		position: relative;
		padding: 10px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		max-height: 190px;
	}
	.modal.fade
	{
		top: -100px;
	}
	.modal.fade.in
	{
		top: 20px;
	}
	DIV.bloc-degrade
	{
		background: #202020;
		background: -moz-linear-gradient(top, #202020 0%, #202020 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202020), color-stop(100%, #202020));
		background: -webkit-linear-gradient(top, #202020 0%, #202020100%);
		background: -o-linear-gradient(top, #202020 0%, #202020100%);
		background: -ms-linear-gradient(top, #202020 0%, #202020100%);
		background: linear-gradient(to bottom, #202020 0%, #202020100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#202020', GradientType=0 );
	}
	UL.principale LI
	{
		margin: 0px;
	}
	UL.inline.sup-links A
	{
		font-size: 0.7em;
	}
	UL.inline.sup-links > LI
	{
		padding-right: 5px;
		padding-left: 5px;
	}
	.nav.secondaire.pull-right
	{
		/*+placement:float-left 0px 0px;*/
		float: left;
		position: relative;
		left: 0px;
		top: 0px;
	}
	.form-horizontal .control-label
	{
		display: none;
	}
	.form-horizontal .controls
	{
		margin-left: 0;
	}
	.modal.connexion .form-horizontal .control-label
	{
		display: none;
	}
	.modal.connexion .form-horizontal .controls
	{
		margin-left: 0;
	}
	/*MENU RESPONSIVE EN PUSH TO LEFT*/
	.nav
	{
		margin-bottom: 0;
	}
	/*[clearfix]*/DIV.sup-header
	{
		border: 0px solid #000000;
		background: #000000;
		border-bottom: 1px solid #000000;
		margin: 0px -20px;
	}
	.cbp-spmenu
	{
		background: #000000;
		position: fixed;
	}
	/*Orientation-dependent styles for the content of the menu*/
	.cbp-spmenu-vertical
	{
		width: 240px;
		height: 100%;
		top: 0;
		z-index: 1000;
	}
	.cbp-spmenu-horizontal
	{
		width: 100%;
		height: 150px;
		left: 0;
		z-index: 1000;
		overflow: hidden;
	}
	/*Vertical menu that slides from the left or right*/
	.cbp-spmenu-left
	{
		left: -240px;
	}
	.cbp-spmenu-right
	{
		right: -240px;
	}
	.cbp-spmenu-left.cbp-spmenu-open
	{
		left: 0px;
	}
	.cbp-spmenu-right.cbp-spmenu-open
	{
		right: 0px;
	}
	/*Push classes applied to the body*/
	.cbp-spmenu-push
	{
		overflow-x: hidden;
		position: relative;
		left: 0;
	}
	.cbp-spmenu-push-toright
	{
		left: 240px;
	}
	/*Transitions*/
	.cbp-spmenu, .cbp-spmenu-push
	{
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	/*Example media queries*/
	UL.nav.principale LI A.accueil, UL.nav.secondaire LI A.enseignant, UL.nav.principale LI A.application, UL.nav.principale LI A.indice, UL.nav.principale LI A.collection, UL.nav.principale LI A.podcast
	{
		width: 225px;
		margin: 0px;
		overflow: hidden;
		background: #000000;
		height: 30px;
		text-indent: initial;
		border: 0px solid #DDD;
		padding: 5px 0px 5px 15px;
		line-height: 2;
		color: #FFFFFF;
		text-align: left;
		border-bottom: 1px solid #000000;
		border-top: 1px solid #202020;
		font-weight: bold;
	}
	UL.nav.principale LI A.accueil:hover, UL.nav.secondaire LI A.enseignant:hover, UL.nav.principale LI A.application:hover, UL.nav.principale LI A.indice:hover, UL.nav.principale LI A.collection:hover, UL.nav.principale LI A.podcast:hover
	{
		width: 225px;
		margin: 0px;
		overflow: hidden;
		background: #FFE400;
		height: 30px;
		text-indent: initial;
		border: 0px solid #DDD;
		line-height: 2;
		padding: 5px 0px 5px 15px;
		color: #000000;
		border-bottom: 1px solid #000000;
		border-top: 1px solid #202020;
		font-weight: bold;
	}
	UL.nav.principale LI A.accueil:after, UL.nav.secondaire LI A.enseignant:after, UL.nav.principale LI A.application:after, UL.nav.principale LI A.indice:after, UL.nav.principale LI A.collection:after, UL.nav.principale LI A.podcast:after
	{
		display: none;
	}
	UL.nav.principale LI A.accueil:hover:after, UL.nav.secondaire LI A.enseignant:hover:after, UL.nav.principale LI A.application:hover:after, UL.nav.principale LI A.indice:hover:after, UL.nav.principale LI A.collection:hover:after, UL.nav.principale LI A.podcast:hover:after
	{
		display: none;
	}
	UL.nav.principale LI A.accueil:before, UL.nav.secondaire LI A.enseignant:before, UL.nav.principale LI A.application:before, UL.nav.principale LI A.indice:before, UL.nav.principale LI A.collection:before, UL.nav.principale LI A.podcast:before
	{
		display: none;
	}
	UL.nav.principale LI A.accueil:hover:before, UL.nav.secondaire LI A.enseignant:hover:before, UL.nav.principale LI A.application:hover:before, UL.nav.principale LI A.indice:hover:before, UL.nav.principale LI A.collection:hover:before, UL.nav.principale LI A.podcast:hover:before
	{
		display: none;
	}
	BUTTON#showLeftPush
	{
		border: none;
		background: #FFE400 url(../img/bg-menu-mobile.png) no-repeat center left;
		color: #000000;
		display: block;
		cursor: pointer;
		margin: 10px;
		font-size: 1em;
		width: 90px;
		height: 40px;
		padding: 0px 0px 0px 30px;
		/*[disabled]text-indent:-5000em;*/
		/*+placement:float-left 0px 0px;*/
		float: left;
		position: relative;
		left: 0px;
		top: 0px;
		/*+border-radius:5px;*/
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
	}
}
BUTTON#showLeftPush
{
	font-weight: bold;
}
@media (max-width: 767px)
{
	BUTTON#showLeftPush:hover
	{
		background: #FFFFFF url(../img/bg-menu-mobile.png) no-repeat center left;
	}
	DIV.mid-header.mobile A.logo-engime IMG
	{
		/*+placement:float-right 0px 10px;*/
		float: right;
		position: relative;
		left: 0px;
		top: 10px;
	}
	UL.nav.principale LI A.accueil
	{
		background: #000000;
	}
}
UL.nav.principale LI A.accueil
{
	color: #FFFFFF;
}
@media (max-width: 767px)
{
	UL.nav.principale LI A.accueil:hover
	{
		background: #FFE400;
	}
}
UL.nav.principale LI A.accueil:hover
{
	color: #000000;
}
@media (max-width: 767px)
{
	UL.nav.principale LI A.indice
	{
		background: #000000;
	}
}
UL.nav.principale LI A.indice
{
	color: #FFFFFF;
}
@media (max-width: 767px)
{
	UL.nav.principale LI A.indice:hover
	{
		background: #EC7404;
	}
}
UL.nav.principale LI A.indice:hover
{
	color: #000000;
}
@media (max-width: 767px)
{
	UL.nav.principale LI A.collection
	{
		background: #000000;
	}
}
UL.nav.principale LI A.collection
{
	color: #FFFFFF;
}
@media (max-width: 767px)
{
	UL.nav.principale LI A.collection:hover
	{
		background: #B1C903;
	}
}
UL.nav.principale LI A.collection:hover
{
	color: #000000;
}
@media (max-width: 767px)
{
	UL.nav.principale LI A.podcast
	{
		background: #000000;
	}
}
UL.nav.principale LI A.podcast
{
	color: #FFFFFF;
}
@media (max-width: 767px)
{
	UL.nav.principale LI A.podcast:hover
	{
		background: #CC0000;
	}
}
UL.nav.principale LI A.podcast:hover
{
	color: #000000;
}
@media (max-width: 767px)
{
	UL.nav.principale LI A.application
	{
		background: #000000;
	}
}
UL.nav.principale LI A.application
{
	color: #FFFFFF;
}
@media (max-width: 767px)
{
	UL.nav.principale LI A.application:hover
	{
		background: #5E70CC;
	}
}
UL.nav.principale LI A.application:hover
{
	color: #000000;
}
@media (max-width: 767px)
{
	UL.nav.secondaire LI A.enseignant
	{
		background: #FFE400;
		color: #000000;
	}
	UL.nav.secondaire LI A.enseignant:hover
	{
		background: #292929;
		color: #FFE400;
	}
	UL.nav.principale LI A.intro
	{
		width: 225px;
		margin: 0px;
		overflow: hidden;
		background: #000000;
		height: 30px;
		text-indent: initial;
		border: 0px solid #DDD;
		padding: 5px 0px 5px 15px;
		line-height: 2;
		color: #FFFFFF;
		text-align: left;
		border-bottom: 1px solid #000000;
		border-top: 1px solid #202020;
		opacity: 0.6;
		font-weight: bold;
	}
	UL.nav.principale LI A.intro:hover
	{
		width: 225px;
		margin: 0px;
		overflow: hidden;
		background: #FFE400;
		height: 30px;
		text-indent: initial;
		border: 0px solid #DDD;
		line-height: 2;
		padding: 5px 0px 5px 15px;
		color: #000000;
		border-bottom: 1px solid #000000;
		border-top: 1px solid #202020;
		opacity: 1;
		font-weight: bold;
	}
	DIV.footer
	{
		margin-left: -20px;
		margin-right: -20px;
		margin-top: 15px;
	}
}
