@media (max-width: 480px)
{
	.nav-collapse
	{
		-webkit-transform: translate3d(0, 0, 0);
	}
	.page-header H1 SMALL
	{
		display: block;
		line-height: 20px;
	}
	INPUT[type="checkbox"], INPUT[type="radio"]
	{
		border: 1px solid #CCC;
	}
	.form-horizontal .control-label
	{
		float: none;
		width: auto;
		padding-top: 0;
		text-align: left;
	}
	.form-horizontal .controls
	{
		margin-left: 0;
	}
	.form-horizontal .control-list
	{
		padding-top: 0;
	}
	.form-horizontal .form-actions
	{
		padding-right: 10px;
		padding-left: 10px;
	}
	.media .pull-left, .media .pull-right
	{
		display: block;
		float: none;
		margin-bottom: 10px;
	}
	.media-object
	{
		margin-right: 0;
		margin-left: 0;
	}
	.modal
	{
		top: 10px;
		right: 10px;
		left: 10px;
	}
	.modal-header .close
	{
		padding: 10px;
		margin: -10px;
	}
	.carousel-caption
	{
		position: static;
	}
}
