/*MENU ECRAN - TABLETTE*/
/*+clearfix {*/
DIV.bloc-big-navigation:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
DIV.bloc-big-navigation
{
	display: inline-block;
}
DIV.bloc-big-navigation
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
/*[clearfix]*/DIV.bloc-big-navigation
{
	border: 0px solid #FFFFFF;
	background-color: transparent;
	margin-top: 10px;
}
UL.principale
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
UL.principale LI
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
UL.principale LI
{
	border: 0px solid #000000;
	padding: 0px;
	margin: 0px 10px 0px 0px;
	list-style: none;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	background-color: transparent;
}
/*ACCUEIL ICON*/
UL.nav.principale LI A
{
	-o-transition: 0;
	-ms-transition: 0;
	-moz-transition: 0;
	-webkit-transition: 0;
	transition: 0;
}
UL.nav.secondaire LI A
{
	-o-transition: 0;
	-ms-transition: 0;
	-moz-transition: 0;
	-webkit-transition: 0;
	transition: 0;
}
UL.nav.principale LI A.accueil
{
	position: relative;
	z-index: 1;
	width: 105px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/accueil-2.png) no-repeat center center;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.accueil:hover
{
	position: relative;
	z-index: 1;
	width: 105px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/accueil-2.png) no-repeat center top;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.accueil:after
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 105px;
	height: 120px;
	background: transparent url(../img/menu/accueil-1.png) no-repeat center center;
}
UL.nav.principale LI A.accueil:hover:after
{
	background: transparent url(../img/menu/accueil-1-on.png) no-repeat center center;
}
UL.nav.principale LI A.accueil:before
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 105px;
	height: 120px;
	background: transparent url(../img/menu/accueil-home.png) no-repeat -8px 0px;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}
UL.nav.principale LI A.accueil:hover:before
{
	background: transparent url(../img/menu/accueil-home.png) no-repeat -8px 5px;
}
BODY.home UL.nav.principale LI A.accueil:after
{
	background: transparent url(../img/menu/accueil-1-on.png) no-repeat center center;
}
/*INDICE ICON*/
UL.nav.principale LI A.indice
{
	position: relative;
	z-index: 1;
	width: 110px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/indice-2.png) no-repeat center center;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.indice:hover
{
	position: relative;
	z-index: 1;
	width: 110px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/indice-2.png) no-repeat center top;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.indice:after
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 110px;
	height: 120px;
	background: transparent url(../img/menu/indice-1.png) no-repeat center center;
}
UL.nav.principale LI A.indice:hover:after
{
	background: transparent url(../img/menu/indice-1-on.png) no-repeat center center;
}
UL.nav.principale LI A.indice:before
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 110px;
	height: 120px;
	background: transparent url(../img/menu/icone-indice.png) no-repeat -5px 0px;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}
UL.nav.principale LI A.indice:hover:before
{
	background: transparent url(../img/menu/icone-indice.png) no-repeat -5px 5px;
}
BODY.indices UL.nav.principale LI A.indice:after
{
	background: transparent url(../img/menu/indice-1-on.png) no-repeat center center;
}
/*COLLECTION ICON*/
UL.nav.principale LI A.collection
{
	position: relative;
	z-index: 1;
	width: 115px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/collection-2.png) no-repeat center center;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.collection:hover
{
	position: relative;
	z-index: 1;
	width: 115px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/collection-2.png) no-repeat center top;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.collection:after
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 115px;
	height: 120px;
	background: transparent url(../img/menu/collection-1.png) no-repeat center center;
}
UL.nav.principale LI A.collection:hover:after
{
	background: transparent url(../img/menu/collection-1-on.png) no-repeat center center;
}
UL.nav.principale LI A.collection:before
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 115px;
	height: 120px;
	background: transparent url(../img/menu/icone-collection.png) no-repeat -5px 0px;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}
UL.nav.principale LI A.collection:hover:before
{
	background: transparent url(../img/menu/icone-collection.png) no-repeat -5px 5px;
}
BODY.collection UL.nav.principale LI A.collection:after
{
	background: transparent url(../img/menu/collection-1-on.png) no-repeat center center;
}
/*PODCAST ICON*/
UL.nav.principale LI A.podcast
{
	position: relative;
	z-index: 1;
	width: 120px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/podcast-2.png) no-repeat center center;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.podcast:hover
{
	position: relative;
	z-index: 1;
	width: 120px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/podcast-2.png) no-repeat center top;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.podcast:after
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 120px;
	height: 120px;
	background: transparent url(../img/menu/podcast-1.png) no-repeat center center;
}
UL.nav.principale LI A.podcast:hover:after
{
	background: transparent url(../img/menu/podcast-1-on.png) no-repeat center center;
}
UL.nav.principale LI A.podcast:before
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 120px;
	height: 120px;
	background: transparent url(../img/menu/icone-podcast.png) no-repeat 0px 0px;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}
UL.nav.principale LI A.podcast:hover:before
{
	background: transparent url(../img/menu/icone-podcast.png) no-repeat 0px 5px;
}
BODY.podcast UL.nav.principale LI A.podcast:after
{
	background: transparent url(../img/menu/podcast-1-on.png) no-repeat center center;
}
/*APPLICATION ICON*/
UL.nav.principale LI A.application
{
	position: relative;
	z-index: 1;
	width: 105px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/appli-2.png) no-repeat center center;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.application:hover
{
	position: relative;
	z-index: 1;
	width: 105px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/appli-2.png) no-repeat center top;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.principale LI A.application:after
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 105px;
	height: 120px;
	background: transparent url(../img/menu/appli-1.png) no-repeat center center;
}
UL.nav.principale LI A.application:hover:after
{
	background: transparent url(../img/menu/appli-1-on.png) no-repeat center center;
}
UL.nav.principale LI A.application:before
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 105px;
	height: 120px;
	background: transparent url(../img/menu/icone-appli.png) no-repeat -7px 0px;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}
UL.nav.principale LI A.application:hover:before
{
	background: transparent url(../img/menu/icone-appli.png) no-repeat -7px 5px;
}
BODY.application UL.nav.principale LI A.application:after
{
	background: transparent url(../img/menu/appli-1-on.png) no-repeat center center;
}
/*ENSEIGNANT ICON*/
UL.nav.secondaire LI A.enseignant
{
	position: relative;
	z-index: 1;
	width: 160px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/enseignant-2.png) no-repeat center center;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.secondaire LI A.enseignant:hover
{
	position: relative;
	z-index: 1;
	width: 160px;
	border: 0px solid #DDD;
	margin: 0px;
	overflow: hidden;
	background: transparent url(../img/menu/enseignant-2.png) no-repeat center top;
	height: 120px;
	text-indent: -5000em;
}
UL.nav.secondaire LI A.enseignant:after
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 160px;
	height: 120px;
	background: transparent url(../img/menu/enseignant-1.png) no-repeat center center;
}
UL.nav.secondaire LI A.enseignant:hover:after
{
	background: transparent url(../img/menu/enseignant-1-on.png) no-repeat center center;
}
UL.nav.secondaire LI A.enseignant:before
{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0px;
	right: 0;
	width: 160px;
	height: 120px;
	background: transparent url(../img/menu/icone-enseignant.png) no-repeat -10px 0px;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}
UL.nav.secondaire LI A.enseignant:hover:before
{
	background: transparent url(../img/menu/icone-enseignant.png) no-repeat -10px 5px;
}
BODY.enseignant UL.nav.secondaire LI A.enseignant:after
{
	background: transparent url(../img/menu/enseignant-1-on.png) no-repeat center center;
}
