@media (min-width: 768px) and (max-width: 979px)
{
	.row
	{
		margin-left: -20px;
		=zoom: 1;
	}
	.row:before, .row:after
	{
		display: table;
		line-height: 0;
		content: "";
	}
	.row:after
	{
		clear: both;
	}
	[class*="span"]
	{
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
	{
		width: 724px;
	}
	.span12
	{
		width: 724px;
	}
	.span11
	{
		width: 662px;
	}
	.span10
	{
		width: 600px;
	}
	.span9
	{
		width: 538px;
	}
	.span8
	{
		width: 476px;
	}
	.span7
	{
		width: 414px;
	}
	.span6
	{
		width: 352px;
	}
	.span5
	{
		width: 290px;
	}
	.span4
	{
		width: 228px;
	}
	.span3
	{
		width: 166px;
	}
	.span2
	{
		width: 104px;
	}
	.span1
	{
		width: 42px;
	}
	.offset12
	{
		margin-left: 764px;
	}
	.offset11
	{
		margin-left: 702px;
	}
	.offset10
	{
		margin-left: 640px;
	}
	.offset9
	{
		margin-left: 578px;
	}
	.offset8
	{
		margin-left: 516px;
	}
	.offset7
	{
		margin-left: 454px;
	}
	.offset6
	{
		margin-left: 392px;
	}
	.offset5
	{
		margin-left: 330px;
	}
	.offset4
	{
		margin-left: 268px;
	}
	.offset3
	{
		margin-left: 206px;
	}
	.offset2
	{
		margin-left: 144px;
	}
	.offset1
	{
		margin-left: 82px;
	}
	.row-fluid
	{
		width: 100%;
		=zoom: 1;
	}
	.row-fluid:before, .row-fluid:after
	{
		display: table;
		line-height: 0;
		content: "";
	}
	.row-fluid:after
	{
		clear: both;
	}
	.row-fluid [class*="span"]
	{
		display: block;
		float: left;
		width: 100%;
		min-height: 30px;
		margin-left: 2.76243093922652%;
		=margin-left: 2.70923944986482%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row-fluid [class*="span"]:first-child
	{
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"]
	{
		margin-left: 2.76243093922652%;
	}
	.row-fluid .span12
	{
		width: 100%;
		=width: 99.9468085106383%;
	}
	.row-fluid .span11
	{
		width: 91.4364640883978%;
		=width: 91.3832725990361%;
	}
	.row-fluid .span10
	{
		width: 82.8729281767956%;
		=width: 82.8197366874339%;
	}
	.row-fluid .span9
	{
		width: 74.3093922651934%;
		=width: 74.2562007758317%;
	}
	.row-fluid .span8
	{
		width: 65.7458563535912%;
		=width: 65.6926648642295%;
	}
	.row-fluid .span7
	{
		width: 57.1823204419889%;
		=width: 57.1291289526272%;
	}
	.row-fluid .span6
	{
		width: 48.6187845303867%;
		=width: 48.565593041025%;
	}
	.row-fluid .span5
	{
		width: 40.0552486187845%;
		=width: 40.0020571294228%;
	}
	.row-fluid .span4
	{
		width: 31.4917127071823%;
		=width: 31.4385212178206%;
	}
	.row-fluid .span3
	{
		width: 22.9281767955801%;
		=width: 22.8749853062184%;
	}
	.row-fluid .span2
	{
		width: 14.3646408839779%;
		=width: 14.3114493946162%;
	}
	.row-fluid .span1
	{
		width: 5.80110497237569%;
		=width: 5.74791348301399%;
	}
	.row-fluid .offset12
	{
		margin-left: 105.524861878453%;
		=margin-left: 105.41847889973%;
	}
	.row-fluid .offset12:first-child
	{
		margin-left: 102.762430939227%;
		=margin-left: 102.656047960503%;
	}
	.row-fluid .offset11
	{
		margin-left: 96.9613259668508%;
		=margin-left: 96.8549429881274%;
	}
	.row-fluid .offset11:first-child
	{
		margin-left: 94.1988950276243%;
		=margin-left: 94.0925120489009%;
	}
	.row-fluid .offset10
	{
		margin-left: 88.3977900552486%;
		=margin-left: 88.2914070765252%;
	}
	.row-fluid .offset10:first-child
	{
		margin-left: 85.6353591160221%;
		=margin-left: 85.5289761372987%;
	}
	.row-fluid .offset9
	{
		margin-left: 79.8342541436464%;
		=margin-left: 79.727871164923%;
	}
	.row-fluid .offset9:first-child
	{
		margin-left: 77.0718232044199%;
		=margin-left: 76.9654402256965%;
	}
	.row-fluid .offset8
	{
		margin-left: 71.2707182320442%;
		=margin-left: 71.1643352533208%;
	}
	.row-fluid .offset8:first-child
	{
		margin-left: 68.5082872928177%;
		=margin-left: 68.4019043140943%;
	}
	.row-fluid .offset7
	{
		margin-left: 62.707182320442%;
		=margin-left: 62.6007993417186%;
	}
	.row-fluid .offset7:first-child
	{
		margin-left: 59.9447513812155%;
		=margin-left: 59.8383684024921%;
	}
	.row-fluid .offset6
	{
		margin-left: 54.1436464088398%;
		=margin-left: 54.0372634301164%;
	}
	.row-fluid .offset6:first-child
	{
		margin-left: 51.3812154696133%;
		=margin-left: 51.2748324908899%;
	}
	.row-fluid .offset5
	{
		margin-left: 45.5801104972376%;
		=margin-left: 45.4737275185142%;
	}
	.row-fluid .offset5:first-child
	{
		margin-left: 42.8176795580111%;
		=margin-left: 42.7112965792876%;
	}
	.row-fluid .offset4
	{
		margin-left: 37.0165745856354%;
		=margin-left: 36.910191606912%;
	}
	.row-fluid .offset4:first-child
	{
		margin-left: 34.2541436464088%;
		=margin-left: 34.1477606676854%;
	}
	.row-fluid .offset3
	{
		margin-left: 28.4530386740331%;
		=margin-left: 28.3466556953097%;
	}
	.row-fluid .offset3:first-child
	{
		margin-left: 25.6906077348066%;
		=margin-left: 25.5842247560832%;
	}
	.row-fluid .offset2
	{
		margin-left: 19.8895027624309%;
		=margin-left: 19.7831197837075%;
	}
	.row-fluid .offset2:first-child
	{
		margin-left: 17.1270718232044%;
		=margin-left: 17.020688844481%;
	}
	.row-fluid .offset1
	{
		margin-left: 11.3259668508287%;
		=margin-left: 11.2195838721053%;
	}
	.row-fluid .offset1:first-child
	{
		margin-left: 8.56353591160221%;
		=margin-left: 8.45715293287881%;
	}
	INPUT, TEXTAREA, .uneditable-input
	{
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"]
	{
		margin-left: 20px;
	}
	INPUT.span12, TEXTAREA.span12, .uneditable-input.span12
	{
		width: 710px;
	}
	INPUT.span11, TEXTAREA.span11, .uneditable-input.span11
	{
		width: 648px;
	}
	INPUT.span10, TEXTAREA.span10, .uneditable-input.span10
	{
		width: 586px;
	}
	INPUT.span9, TEXTAREA.span9, .uneditable-input.span9
	{
		width: 524px;
	}
	INPUT.span8, TEXTAREA.span8, .uneditable-input.span8
	{
		width: 462px;
	}
	INPUT.span7, TEXTAREA.span7, .uneditable-input.span7
	{
		width: 400px;
	}
	INPUT.span6, TEXTAREA.span6, .uneditable-input.span6
	{
		width: 338px;
	}
	INPUT.span5, TEXTAREA.span5, .uneditable-input.span5
	{
		width: 276px;
	}
	INPUT.span4, TEXTAREA.span4, .uneditable-input.span4
	{
		width: 214px;
	}
	INPUT.span3, TEXTAREA.span3, .uneditable-input.span3
	{
		width: 152px;
	}
	INPUT.span2, TEXTAREA.span2, .uneditable-input.span2
	{
		width: 90px;
	}
	INPUT.span1, TEXTAREA.span1, .uneditable-input.span1
	{
		width: 28px;
	}
	DIV.bloc-degrade
	{
		background: #202020;
		background: -moz-linear-gradient(top, #202020 0%, #202020 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(100%,#202020));
		background: -webkit-linear-gradient(top, #202020 0%,#202020100%);
		background: -o-linear-gradient(top, #202020 0%,#202020100%);
		background: -ms-linear-gradient(top, #202020 0%,#202020100%);
		background: linear-gradient(to bottom, #202020 0%,#202020100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#202020',GradientType=0 );
	}
	UL.unstyled.liste-item LI
	{
		margin-bottom: 2px;
		margin-left: 5px;
		margin-right: 0px;
	}
	UL.principale LI
	{
		margin: 0px;
	}
	DIV.bloc-degrade.jeux-concours P.text-center.accroche
	{
		line-height: normal;
		padding-top: 0px;
		padding-bottom: 5px;
		margin: 0px;
		font-size: 18px;
	}
	DIV.bloc-degrade.jeux-concours P.text-center.accroche SPAN
	{
		font-size: 18px;
	}
	.min-height-270
	{
		min-height: 220px;
	}
	DIV.contenu-site H1
	{
		font-size: 26px;
	}
	DIV.warpper
	{
		background: #292929;
	}
	DIV.ouvrage
	{
		border: 0px solid #000000;
		height: 295px;
		background: #202020;
		background: -moz-linear-gradient(top, #202020 0%, #202020100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202020), color-stop(100%,#202020));
		background: -webkit-linear-gradient(top, #202020 0%,#202020 100%);
		background: -o-linear-gradient(top, #202020 0%,#202020 100%);
		background: -ms-linear-gradient(top, #202020 0%,#202020 100%);
		background: linear-gradient(to bottom, #202020 0%,#202020 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#202020',GradientType=0 );
	}
	.modal.modconcours
	{
		width: 740px;
		margin-left: -370px;
	}
}
