/*
PLAYER
*/
.audioplayer
{
	height: 2.5em;
	/*40*/
	color: #FFE400;
	text-shadow: 1px 1px 0 #000;
	border: 1px solid #222;
	position: relative;
	z-index: 1;
	background: #333;
	margin-bottom: 20px;
	font-family: "Londrina Solid", cursive;
	font-size: 1.2em;
	margin-top: 20px;
}
/*mini mode (fallback)*/
.audioplayer-mini
{
	width: 2.5em;
	/*40*/
	margin: 0 auto;
}
/*player elements: play/pause and volume buttons, played/duration timers, progress bar of loaded/played*/
.audioplayer > DIV
{
	position: absolute;
}
/*play/pause button*/
.audioplayer-playpause
{
	width: 2.5em;
	/*40*/
	height: 100%;
	text-align: left;
	text-indent: -9999px;
	cursor: pointer;
	z-index: 2;
	top: 0;
	left: 0;
}
.audioplayer:not(.audioplayer-mini) .audioplayer-playpause
{
	border-right: 1px solid #555;
	border-right-color: rgba(255, 255, 255, 0.1);
}
.audioplayer-mini .audioplayer-playpause
{
	width: 100%;
}
.audioplayer-playpause:hover, .audioplayer-playpause:focus
{
	background-color: #222;
}
.audioplayer-playpause A
{
	display: block;
}
.audioplayer-stopped .audioplayer-playpause A
{
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	/*8*/
	border-right: none;
	border-left-color: #FFE400;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.5em 0 0 -0.25em;
	/*8 4*/
}
.audioplayer-playing .audioplayer-playpause A
{
	width: 0.75em;
	/*12*/
	height: 0.75em;
	/*12*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.375em 0 0 -0.375em;
	/*6*/
}
.audioplayer-playing .audioplayer-playpause A:before, .audioplayer-playing .audioplayer-playpause A:after
{
	width: 40%;
	height: 100%;
	background-color: #FFE400;
	content: '';
	position: absolute;
	top: 0;
}
.audioplayer-playing .audioplayer-playpause A:before
{
	left: 0;
}
.audioplayer-playing .audioplayer-playpause A:after
{
	right: 0;
}
/*timers*/
.audioplayer-time
{
	width: 4.375em;
	/*70*/
	height: 100%;
	line-height: 2.375em;
	/*38*/
	text-align: center;
	z-index: 2;
	top: 0;
}
.audioplayer-time-current
{
	border-left: 1px solid #111;
	border-left-color: rgba(0, 0, 0, 0.25);
	left: 2.5em;
	/*40*/
}
.audioplayer-time-duration
{
	border-right: 1px solid #555;
	border-right-color: rgba(255, 255, 255, 0.1);
	right: 2.5em;
	/*40*/
}
.audioplayer-novolume .audioplayer-time-duration
{
	border-right: 0;
	right: 0;
}
/*progress bar of loaded/played*/
.audioplayer-bar
{
	height: 0.875em;
	/*14*/
	background-color: #222;
	cursor: pointer;
	z-index: 1;
	top: 50%;
	right: 6.875em;
	/*110*/
	left: 6.875em;
	/*110*/
	margin-top: -0.438em;
	/*7*/
}
.audioplayer-novolume .audioplayer-bar
{
	right: 4.375em;
	/*70*/
}
.audioplayer-bar DIV
{
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.audioplayer-bar-loaded
{
	background-color: #333;
	z-index: 1;
}
.audioplayer-bar-played
{
	background: #FFE400;
	z-index: 2;
}
/*volume button*/
.audioplayer-volume
{
	width: 2.5em;
	/*40*/
	height: 100%;
	border-left: 1px solid #111;
	border-left-color: rgba(0, 0, 0, 0.25);
	text-align: left;
	text-indent: -9999px;
	cursor: pointer;
	z-index: 2;
	top: 0;
	right: 0;
}
.audioplayer-volume:hover, .audioplayer-volume:focus
{
	background-color: #222;
}
.audioplayer-volume-button
{
	width: 100%;
	height: 100%;
}
.audioplayer-volume-button A
{
	width: 0.313em;
	/*5*/
	height: 0.375em;
	/*6*/
	background-color: #FFE400;
	display: block;
	position: relative;
	z-index: 1;
	top: 40%;
	left: 35%;
}
.audioplayer-volume-button A:before, .audioplayer-volume-button A:after
{
	content: '';
	position: absolute;
}
.audioplayer-volume-button A:before
{
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	/*8*/
	border-left: none;
	border-right-color: #FFE400;
	z-index: 2;
	top: 50%;
	right: -0.25em;
	margin-top: -0.5em;
	/*8*/
}
.audioplayer:not(.audioplayer-muted) .audioplayer-volume-button A:after
{
	/*"volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons*/
	width: 0.313em;
	/*5*/
	height: 0.313em;
	/*5*/
	border: 0.25em double #FFE400;
	/*4*/
	border-width: 0.25em 0.25em 0 0;
	/*4*/
	left: 0.563em;
	/*9*/
	top: -0.063em;
	/*1*/
	-webkit-border-radius: 0 0.938em 0 0;
	/*15*/
	-moz-border-radius: 0 0.938em 0 0;
	/*15*/
	border-radius: 0 0.938em 0 0;
	/*15*/
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	-o-transform: rotate( 45deg );
	transform: rotate( 45deg );
}
/*volume dropdown*/
.audioplayer-volume-adjust
{
	height: 6.25em;
	/*100*/
	cursor: default;
	position: absolute;
	left: 0;
	right: -1px;
	top: -9999px;
	background: #333;
}
.audioplayer-volume:not(:hover) .audioplayer-volume-adjust
{
	opacity: 0;
}
.audioplayer-volume:hover .audioplayer-volume-adjust
{
	top: auto;
	bottom: 100%;
}
.audioplayer-volume-adjust > DIV
{
	width: 40%;
	height: 80%;
	background-color: #222;
	cursor: pointer;
	position: relative;
	z-index: 1;
	margin: 30% auto 0;
}
.audioplayer-volume-adjust DIV DIV
{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #FFE400;
}
.audioplayer-novolume .audioplayer-volume
{
	display: none;
}
/*CSS3 decorations*/
BODY
{
	-webkit-box-shadow: inset 0 0 18.75em rgba( 0, 0, 0, .5 );
	/*300*/
	-moz-box-shadow: inset 0 0 18.75em rgba( 0, 0, 0, 5 );
	/*300*/
	box-shadow: inset 0 0 18.75em rgba(0, 0, 0, 0.5);
	/*300*/
}
.audioplayer
{
	-webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 0.5em #000000;
	-moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 0.5em #000000;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 0.5em #000000;
}
.audioplayer-volume-adjust
{
	-webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
	-moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
	box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15), 2px -2px 2px rgba(0, 0, 0, 0.15);
}
.audioplayer-bar, .audioplayer-volume-adjust > DIV
{
	-webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	-moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.1);
}
.audioplayer-volume-adjust DIV DIV, .audioplayer-bar-played
{
	-webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
	-moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
	box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}
.audioplayer-playpause, .audioplayer-volume A
{
	-webkit-filter: drop-shadow( 1px 1px 0 #000 );
	-moz-filter: drop-shadow( 1px 1px 0 #000 );
	-ms-filter: drop-shadow( 1px 1px 0 #000 );
	-o-filter: drop-shadow( 1px 1px 0 #000 );
	filter: drop-shadow( 1px 1px 0 #000 );
}
.audioplayer, .audioplayer-volume-adjust
{
	background: -webkit-gradient( linear, left top, left bottom, from( #444 ), to( #222 ) );
	background: -webkit-linear-gradient( top, #444, #222 );
	background: -moz-linear-gradient( top, #444, #222 );
	background: -ms-radial-gradient( top, #444, #222 );
	background: -o-linear-gradient( top, #444, #222 );
	background: linear-gradient( to bottom, #444, #222 );
}
.audioplayer-bar-played
{
	background: -webkit-gradient( linear, left top, right top, from( #FFE400), to( #FFF) );
	background: -webkit-linear-gradient( left, #FFE400, #FFF);
	background: -moz-linear-gradient( left, #FFE400, #FFF);
	background: -ms-radial-gradient( left, #FFE400, #FFF);
	background: -o-linear-gradient( left, #FFE400, #FFF);
	background: linear-gradient( to right, #FFE400, #FFF);
}
.audioplayer-volume-adjust DIV DIV
{
	background: -webkit-gradient( linear, left bottom, left top, from( #FFE400), to( #FFF ) );
	background: -webkit-linear-gradient( bottom, #FFE400, #FFF);
	background: -moz-linear-gradient( bottom, #FFE400, #FFF);
	background: -ms-radial-gradient( bottom, #FFE400, #FFF);
	background: -o-linear-gradient( bottom, #FFE400, #FFF);
	background: linear-gradient( to top, #FFE400, #FFF);
}
.audioplayer-bar, .audioplayer-bar DIV, .audioplayer-volume-adjust DIV
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.audioplayer
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.audioplayer-volume-adjust
{
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.audioplayer *, .audioplayer *:before, .audioplayer *:after
{
	-webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	-moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	-ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	-o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
	transition: color .25s ease, background-color .25s ease, opacity .5s ease;
}
/*responsiveness*/
@media only screen and (max-width: 32.5em)
{
	BODY
	{
		-webkit-box-shadow: inset 0 0 9.375em rgba( 0, 0, 0, .5 );
		/*150*/
		-moz-box-shadow: inset 0 0 9.375em rgba( 0, 0, 0, 5 );
		/*150*/
		box-shadow: inset 0 0 9.375em rgba(0, 0, 0, 0.5);
		/*150*/
	}
	#wrapper
	{
		width: 100%;
		height: auto;
		position: static;
		padding: 1.25em;
		/*20*/
		margin: 0;
	}
}


/*
Theme Name: MACCACO
Theme URI: http://www.projekktor.com/downloads
Description: this theme is a screenr clone
Version: 2.2
Author: Michel Maillard
Author URI: http://www.porkhead.org

**************************************
general
***************************************/
.projekktor
{
	background-color: #000;
	font-family: "Lucida Grande", "Trebuchet MS", Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
	display: block;
	position: relative;
	overflow: hidden;
	width: 100% !important;
}
.pptestcard
{
	background: url("noise.gif") repeat center center;
	width: 100%;
	height: 100%;
	color: #FFF;
	font-size: 18px;
	overflow: hidden;
}
.pptestcard P
{
	background-color: #3B393E;
	width: 60%;
	margin: auto;
	line-height: 25px;
	position: relative;
	top: 25%;
	padding: 10px;
	border: 5px solid #000;
	text-align: center;
}
/***************************************
display plugin
***************************************/
.ppdisplay
{
	background-color: #000;
	position: relative !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.ppdisplay .inactive, .ppstart.inactive, .ppbuffering.inactive
{
	display: none;
}
.ppstart
{
	position: absolute;
	left: 50%;
	bottom: 50%;
	margin-left: -45px;
	margin-bottom: -38px;
	cursor: pointer;
	height: 84px;
	width: 84px;
	display: block;
	padding: 0px;
	background: transparent url("start.png") no-repeat left top;
}
.ppstart:hover
{
	background: transparent url("start.png") no-repeat left bottom;
}
.ppstart:active
{
	background: transparent url("start.png") no-repeat left -169px;
}
.ppbuffering
{
	position: absolute;
	left: 50%;
	bottom: 50%;
	margin-left: -45px;
	margin-bottom: -38px;
	display: block;
	z-index: 9010;
	padding: 0px;
	background: #000 url("buffering.gif") no-repeat center center;
	height: 84px;
	width: 84px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
/***************************************
controlbar plugin
***************************************/
.ppcontrols
{
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 100%;
	height: 36px;
	background: #2E2D2D;
	/*Old browsers*/
	background: -moz-linear-gradient(top, #2e2d2d 0%, #0f0e0e 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2d2d), color-stop(100%,#0f0e0e));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, #2e2d2d 0%,#0f0e0e 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #2e2d2d 0%,#0f0e0e 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, #2e2d2d 0%,#0f0e0e 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, #2e2d2d 0%,#0f0e0e 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2d2d', endColorstr='#0f0e0e',GradientType=0 );
	/*IE6-9*/
	border-style: solid;
	border-color: #413E3E;
	border-width: 1px 0;
	padding: 0;
	margin: 0;
}
.ppcontrols .active
{
	display: block;
}
.ppcontrols .inactive
{
	display: none;
}
.projekktor.notransitions .ppcontrols.active
{
	display: block;
}
.projekktor.notransitions .ppcontrols.inactive
{
	display: none;
}
.ppcontrols.active
{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}
.ppcontrols.inactive
{
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.ppcontrols UL
{
	list-style-type: none;
}
.ppcontrols UL.left
{
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}
.ppcontrols UL.right
{
	position: relative;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
}
.ppcontrols UL.bottom
{
	position: relative;
	top: 31px;
	left: 0;
	padding: 0;
	margin: 0;
}
.ppcontrols UL.left LI
{
	float: left;
	position: relative;
}
.ppcontrols UL.right LI
{
	float: right;
	position: relative;
}
/*PLAY / PAUSE - left*/
.ppplay, .pppause
{
	background: transparent url("maccaco.png") no-repeat left top;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-right: 1px solid #000;
}
.ppplay:hover
{
	background: transparent url("maccaco.png") no-repeat left -35px;
}
.ppplay:active
{
	background: transparent url("maccaco.png") no-repeat left -36px;
}
.pppause
{
	background: transparent url("maccaco.png") no-repeat left -70px;
}
.pppause:hover
{
	background: transparent url("maccaco.png") no-repeat left -105px;
}
.pppause:active
{
	background: transparent url("maccaco.png") no-repeat left -106px;
}
/*Enter / Exit Fullscreen - right*/
.projekktor.audio .ppfsenter, .projekktor.audio .ppfsexit
{
	display: none;
}
.ppfsenter, .ppfsexit
{
	width: 30px;
	height: 30px;
	background: transparent url("maccaco.png") no-repeat right top;
	cursor: pointer;
	border-left: 1px solid #413E3E;
}
.ppfsenter:hover
{
	background: transparent url("maccaco.png") no-repeat right -35px;
}
.ppfsenter:active
{
	background: transparent url("maccaco.png") no-repeat right -36px;
}
.ppfsexit
{
	background: transparent url("maccaco.png") no-repeat right -70px;
}
.ppfsexit:hover
{
	background: transparent url("maccaco.png") no-repeat right -105px;
}
.ppfsexit:active
{
	background: transparent url("maccaco.png") no-repeat right -106px;
}
/*Unmute / Max volume - right*/
.ppvmax
{
	width: 30px;
	height: 30px;
	border-right: 1px solid #000;
	border-left: none;
	background: transparent url("maccaco.png") no-repeat -842px top;
}
.ppvmax:hover
{
	background: transparent url("maccaco.png") no-repeat -842px -35px;
}
.ppvmax:active
{
	background: transparent url("maccaco.png") no-repeat -842px -36px;
}
/*Mute / Min volume - right*/
.ppmute
{
	width: 29px;
	height: 30px;
	border-left: 1px solid #413E3E;
	background: transparent url("maccaco.png") no-repeat -750px top;
}
.ppmute:hover
{
	background: transparent url("maccaco.png") no-repeat -750px -35px;
}
.ppmute:active
{
	background: transparent url("maccaco.png") no-repeat -750px -36px;
}
/*volume slider - right*/
.ppvslider
{
	margin: 13px 5px;
	height: 16px;
	width: 60px;
	background: transparent url("maccaco.png") no-repeat -781px -13px;
}
.ppvmarker
{
	position: relative;
	right: 0;
	left: 0;
	height: 6px;
	width: 100%;
	background: transparent url("maccaco.png") no-repeat -634px -13px;
}
.ppvknob
{
	cursor: pointer;
	z-index: 201;
	position: relative;
	background: transparent url("maccaco.png") no-repeat -699px -5px;
	top: -13px;
	left: 0;
	width: 6px;
	height: 20px;
	padding: 0;
}
/*time / time left*/
.pptimeleft
{
	color: #FFF;
	width: 130px;
	line-height: 30px;
	height: 30px;
	border-left: 1px solid #413E3E;
	border-right: 1px solid #000;
	text-align: center;
	overflow: hidden;
}
/*special for single
.pptimeleft {
background: url("maccaco.png") no-repeat -91px top transparent;
}

lo / hi quality toggle*/
.pploquality, .pphiquality
{
	background: transparent url("maccaco.png") no-repeat -60px -72px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-left: 1px solid #413E3E;
	border-right: 1px solid #000;
}
.pphiquality:hover
{
	background: transparent url("maccaco.png") no-repeat -32px -106px;
}
.pploquality
{
	background: transparent url("maccaco.png") no-repeat -32px -72px;
}
.pploquality:hover
{
	background: transparent url("maccaco.png") no-repeat -32px -106px;
}
.pphiquality:active, .pploquality:active
{
	background: transparent url("maccaco.png") no-repeat -32px -105px;
}
/*previous / next item*/
.ppnext, .ppprev
{
	display: block;
	background: transparent url("maccaco.png") no-repeat -59px top;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-left: 1px solid #413E3E;
	border-right: 1px solid #000;
}
.ppnext
{
	border-right: none;
}
.ppnext:hover
{
	background: transparent url("maccaco.png") no-repeat -59px -35px;
}
.ppnext:active
{
	background: transparent url("maccaco.png") no-repeat -59px -36px;
}
.ppprev
{
	background: transparent url("maccaco.png") no-repeat -32px top;
}
.ppprev:hover
{
	background: transparent url("maccaco.png") no-repeat -32px -35px;
}
.ppprev:active
{
	background: transparent url("maccaco.png") no-repeat -32px -36px;
}
.pploop, .pploop .on, .pploop .off
{
	display: block;
	line-height: 30px;
	color: #FFF;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-left: 1px solid #413E3E;
	border-right: 1px solid #000;
}
.pploop.off
{
	color: #CCC;
}
/*Scrubber, Playhead and fluff*/
.ppscrubber
{
	position: absolute;
	height: 5px;
	width: 100%;
	background: transparent url("maccaco-load.gif") repeat-x left top;
	left: 0;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #000;
}
.audio .ppscrubber
{
	background: transparent url("maccaco-load-static.png") repeat-x left top;
}
.ppscrubberdrag
{
	cursor: pointer;
	z-index: 302;
	position: absolute;
	background-color: transparent;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
}
.ppplayhead, .pploaded
{
	position: relative;
	display: block;
	left: 0;
	bottom: 0;
	height: 5px;
	width: 1px;
	background-color: #FFF;
	cursor: pointer;
	z-index: 301;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: width 0.1s linear;
	-moz-transition: width 0.1s linear;
	-o-transition: width 0.1s linear;
	transition: width 0.1s linear;
}
.ppcuepoint
{
	position: absolute;
	height: 5px;
	width: 5px;
	background-color: #FFFF00;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 302;
}
.ppcuepoint:hover
{
	background-color: #FF0000;
	cursor: pointer;
}
.pploaded
{
	position: relative;
	z-index: 10;
	background: rgb(65, 62, 62);
	opacity: 0.8;
	filter: alpha(opacity = 80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.ppplayhead
{
	margin-top: -5px;
}
.ppscrubbertip
{
	padding: 3px;
	position: absolute;
	top: -30px;
	left: 25px;
	font-size: 11px;
	line-height: 15px;
	color: #FDFDFD;
	background: #2E2D2D;
	z-index: 10;
	display: none;
}
.ppscrubbertip:after
{
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ppscrubbertip:after
{
	border-color: rgba(2, 28, 79, 0);
	border-top-color: #333;
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}
/*Context Menu*/
.ppcontextmenu.active
{
	display: block;
}
.ppcontextmenu.inactive
{
	display: none;
}
.ppcontextmenu
{
	background: #FFFFFF repeat 0 0;
	list-style: none outside none;
	border: 1px solid #CCCCCC;
	border-radius: 2px 2px 2px 2px;
	margin: 4px 0;
	outline: medium none;
	overflow: auto;
	padding: 6px 0;
	position: absolute;
	z-index: 2147483647;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}
.ppcontextmenu LI
{
	color: #333;
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 6px 20px;
	text-decoration: none;
	white-space: nowrap;
	word-wrap: normal;
}
.ppcontextmenu LI:hover
{
	color: #FFF;
	background-color: #333;
}
/****************************
/* VAST ad plugin specific
**************************/
.ppad .left, .ppad .right
{
	display: none;
	border: none;
}
.ppad .ppcontrols
{
	background: transparent;
	border: none;
}
.ppad .ppadtitle
{
	position: absolute;
	bottom: 2%;
	left: 2%;
	border: none;
}
.ppadskip
{
	position: absolute;
	padding-top: 2px;
	bottom: -10px;
	right: 0px;
	width: 85%;
	height: 28px;
	background-color: transparent;
	color: #FDFDFD;
}
.ppskip.locked
{
	background-color: #FF0000;
}
.ppskip.unlocked
{
	cursor: pointer;
	color: #00B0FF;
}
.pppostad .ppprev.active
{
	display: none;
}
.ppadoverlay.inactive
{
	display: none;
}
/****************************
/* Subtitles plugin specific
**************************/
.pptracksbtn.inactive, .pptracks.inactive
{
	display: none;
}
.pptracksbtn.active, .pptracks.active
{
	display: block;
}
.pptracks SPAN
{
	position: relative;
}
.pptracksbtn.on, .pptracksbtn.off
{
	background: transparent url("maccaco.png") no-repeat -120px -72px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-left: 1px solid #413E3E;
	border-right: 1px solid #000;
}
.pptracksbtn.on
{
	background: transparent url("maccaco.png") no-repeat -92px -72px;
}
.pptracksbtn:hover
{
	background: transparent url("maccaco.png") no-repeat -118px -106px;
}
.pptracks
{
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	color: #FDFDFD;
	background: rgb(0, 0, 0);
	background: transparent;
	background: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
	zoom: 1;
	padding: 5px 0;
	z-index: 1000;
}
.pptracks.shifted
{
	bottom: 38px;
}
